.godam-footer {

	margin-top: 40px;

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;

		&__item {

			a {
				color: #2271b1;
				text-decoration: underline;
			}

			&::after {
				content: '/';
				margin-left: 10px;
				margin-right: 10px;
			}

			&:last-child {

				&::after {
					content: '';
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}

	&__social-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;

		&__item {
			
			a {
				display: inline-flex;
				text-decoration: none;
				svg {
					color: #3c434a;
					width: 18px;
					height: 18px;
					
					&:hover {
						transform: scale(1.1);
						transition: all 0.3s ease;
						color: #ab3a6c;
					}
				}
			}
		}
	}
}