/**
 * Styles for the Media Library component.
 *
 * Used to style and display the custom media library.
 */

#rt-transcoder-media-library-root {
	min-width: 280px;
	padding: 0;
	border: 1px solid #E0E0E0;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 34px);
	overflow: auto;
	height: 100%;

	* {
		box-sizing: border-box;
	}

	> * {
		padding: 1.25rem;
		border-bottom: 1px solid #E0E0E0;
	}

	.tree-container {
		padding-bottom: 2.5rem;
	}

	.folder-tabs {
		padding: 1.25rem 1rem;
	}


	.components-button {
		border-radius: 0.25rem;
	}

	.button--full {
		width: 60%;
		display: flex;
		position: relative;
		z-index: 1;
	}

	.button--half {
		width: 50%;
	}

	.button-group {
		display: flex;
		gap: 0.75rem;
		width: 100%;
		justify-content: space-between;

		.components-base-control {
			width: 100%;
		}
	}

	.folder-search-bar-container {
		border-radius: 0.25rem;
		border: 1px solid #949494;

		.components-input-control {
			background: none;

			.components-input-control__container {
				background: none;
			}
	   	}
	}

	.new-folder-button {
		background: linear-gradient(83.85deg, #AB3A6C -9.3%, #E6533A 120.31%) !important;
		border-radius: 0.25rem;
		box-shadow: none;
	}

	.multiselect-button {
		color: #1c1c1c;
		background: #fff;
		border: 1px solid #949494;
		box-shadow: none;
		width: 100%;
		justify-content: center;

		&:hover {
			background: #F5F5F5;
		}
	}

	.control-buttons {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}

	.folder-sort-select {
		flex: 1;
		border-radius: 4px;
		height: 40px;
		min-width: 8rem;
		width: 100%;
	}

	.folder-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&__count {
			font-size: 0.75rem;
			font-weight: 600;
			color: #1c1c1c;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.5rem;
			height: 1.5rem;
			min-width: 1.5rem;
			border-radius: 0.5rem;
			background-color: #F5F5F5;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		}
	}

	.folder-list__item {
		all: unset;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0.5rem;
		border-radius: 0.375rem;
		background-color: transparent;
		cursor: pointer;
		z-index: 1;

		&:hover {
			background-color: #F5F5F5;
		}

		&--active {
			background-color: #F5F5F5;
		}
	}

	.folder-list__text {
		font-size: 0.875rem;
		color: #000;
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.tree-item:hover {
		background:#F5F5F5;
	}

	&.hide-sidebar {
		display: none;
	}

	.folder-context-menu__item {
		justify-content: flex-start !important;
	}

	.close-folder-menu-mobile {
	display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 12px;
		transform: rotate(45deg);
		border: none;
		box-shadow: none;
		padding: 0;
	}
}

.media-modal-content:has(#rt-transcoder-media-library-root) {

	@media (max-width: 900px) {

		.control-buttons {
			padding-top: 48px;
		}

		.close-folder-menu-mobile {
			display: block;
		}
	}
}

.components-button.has-icon.has-text {
	justify-content: center !important;
}

.components-button.has-icon.has-text.text-flex-left {
	justify-content: left !important;
}

.media-frame-menu:has( #rt-transcoder-media-library-root ) {

	.media-menu {
		background: #FFF;
		z-index: -1;
		top: 0;
		max-width: 100%;
		width: 100%;
	}
}
