/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


 .wp-block-trascoder-rt-player {
	// Add your styles here.
}

.easydam-video-block {
	video {
		width: 100%;
		height: auto;
	}
}

.wp-block-easydam-video {
	video {
		width: 100%;
		height: auto;
	}
}

.easydam-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.7);
	z-index: 10;
}

.hidden {
	display: none;
}

.easydam-layer .skip-button {
	position: absolute;
	bottom: 10%;
	right: 20px;
	z-index: 15;
	background-color: #007bff;
	color: #ffffff;
	padding: 8px 12px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

.easydam-video-container {
	position: relative;
}

.form-container {
	position: relative;
	width: 100%;
	padding:32px 20%;
	margin: auto;
	max-height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background: none;
	border-radius: 8px;
	align-items: center;
}

.cta-button {
	font-size: 3rem;
	text-decoration: none;
	outline: none;

	&:hover {
		text-decoration: underline;
	}
}

.easydam-layer {
	color: black;
	font-size: 3rem;
	font-weight: 500;
}

.fullscreen-layer {
	width: 100%;
	height: 100%;
	padding: 0;
}

.fullscreen-layer  .form-container{
	width:max-content;
}


.editor-video-customisation-cta {
	margin-top: 20px;
}

.vjs-control-bar {
	background-color: var(--easydam-control-bar-color) !important;
}

.vjs-control:hover {
	color: var(--easydam-control-hover-color) !important;
	transform: scale(var(--easydam-control-hover-zoom));
}

.vjs-progress-control:hover {
	transform: scale(1);
}

.vjs-big-play-button {
	background-color: var(--easydam-control-bar-color) !important;
	background-size: 100% 100% !important;
	background-image: var(--easydam-custom-play-button-url) !important;
}

.left-align {
    left: 3em !important;
}

.right-align {
    left:auto !important;
    right:1.5em;
}

.top-align {
    top: 1.5em !important;
}

.bottom-align {
    top:auto !important;
    bottom:1.5em;
}

.vjs-control-bar-vertical {
    width: 10% !important;
    height: 100% !important;
    flex-direction: column;
    overflow: scroll;
}

.vjs-control-vertical, .vjs-volume-control-vertical {
    height: 6em !important;
    width: 6em !important;
}

.vjs-volume-panel-vertical {
    flex-direction: column;

	button {
		height: 50% !important;
		left: 10px !important;
	}
}

.vjs-custom-play-button {
	width: unset;

	img {
		width: 100%;
	}
}