/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


 .wp-block-trascoder-rt-player {
	// Add your styles here.
}

.easydam-video-block {
	video {
		width: 100%;
		height: auto;
	}
}

.wp-block-easydam-video {
	video {
		width: 100%;
		height: auto;
	}
}

.easydam-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.7);
	z-index: 10;
}

.hidden {
	display: none;
}

.easydam-layer .skip-button {
	position: absolute;
	bottom: 10%;
	right: 20px;
	z-index: 15;
	background-color: #007bff;
	color: #ffffff;
	padding: 8px 12px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

.easydam-video-container {
	position: relative;
}

.form-container {
	position: relative;
	width: 100%;
	padding:32px 20%;
	margin: auto;
	max-height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background: none;
	border-radius: 8px;
	align-items: center;
}

.cta-button {
	font-size: 3rem;
	text-decoration: none;
	outline: none;

	&:hover {
		text-decoration: underline;
	}
}

.easydam-layer {
	color: black;
	font-size: 3rem;
	font-weight: 500;
}

.fullscreen-layer {
	width: 100%;
	height: 100%;
	padding: 0;
}

.fullscreen-layer  .form-container{
	width:max-content;
}


.editor-video-customisation-cta {
	margin-top: 20px;
}

.image-overlay-text {
    font-size: 15px;
    background: white;
    padding: 10px;
    border-radius: 12px;
}

.image-cta-container, .vertical-image-cta-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 600px;
    background-color: #fff;
    align-items: center;

    h2 {
        font-size: 32px;
        font-weight: 700;
    }

    p {
        color: #8c8c8c;
		font-size: 16px;
    }
}

.image-cta-description {
    flex-basis: 50%;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-content: center;
    justify-content: center;
    padding-left: 0;
}

.image-cta-btn {
    padding: 10px 15px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #eeab95;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
}

.vertical-image-cta-container {
    flex-direction: column;
    width: 300px;
    border-radius: 36px;
    padding: 20px;

    img {
        border-radius: 25px;
		width: 100%;
    }

    .image-cta-description {
        text-align: center;
		padding: 0;
    }
}

.image-cta-parent-container {
	display: flex;
	align-items: center;
}

.image-cta-overlay-container {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: auto;
	padding: 2rem 1rem; 

	h2 {
		margin-block-start: 0;
		margin-block-end: 0;
	}

	p {
		font-size: 13px;
	}

	img {
		height: auto;
	}

	a {
		margin-top: -25px;
	}

	.image-cta-description {
		gap: 10px;
	}
}