/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


 .wp-block-trascoder-rt-player {
	// Add your styles here.
}

.easydam-video-block {
	video {
		width: 100%;
		height: auto;
	}
}

.wp-block-easydam-video {
	video {
		width: 100%;
		height: auto;
	}
}

.easydam-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.7);
	z-index: 10;
}

.hidden {
	display: none;
}

.easydam-layer .skip-button {
	position: absolute;
	bottom: 10%;
	right: 20px;
	z-index: 15;
	background-color: #007bff;
	color: #ffffff;
	padding: 8px 12px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

.easydam-video-container {
	position: relative;
}

.form-container {
	position: relative;
	width: 100%;
	padding:32px 20%;
	margin: auto;
	max-height: 100%;
	overflow: auto;
	box-sizing: border-box;
	background: none;
	border-radius: 8px;
	align-items: center;
}

.cta-button {
	font-size: 3rem;
	text-decoration: none;
	outline: none;

	&:hover {
		text-decoration: underline;
	}
}

.easydam-layer--cta-text {
	max-height: 100%;
	width: 100%;
	padding: 0 2rem;
	overflow: auto;
}

.fullscreen-layer {
	width: 100%;
	height: 100%;
	padding: 0;
}

.fullscreen-layer  .form-container{
	width:max-content;
}

.editor-video-customisation-cta {
	margin-top: 20px;
}

.easydam-layer.hotspot-layer {
	pointer-events: none;
	background: transparent;
}
/* Hotspot layer*/
.hotspot {
	pointer-events: auto;
	position: absolute;
	z-index: 100;
	background-color: rgba(12, 128, 223, 0.65);
	box-sizing: border-box;
	cursor: pointer;
  }
  .hotspot.circle {
	border-radius: 50%;
  }
  .hotspot:hover {
	border: 2px solid rgb(35, 136, 251);
	box-shadow: 0 0 1px 1px rgba(35, 136, 251, 0.5);
	background-color: rgba(12, 128, 223, 0.55);
  }
  /* Show tooltip on hover */
  .hotspot:hover .hotspot-tooltip,
  .hotspot-tooltip:hover {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s ease;
	pointer-events: auto;
  }
  
  /* Content container */
  .hotspot-content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex; /* Center children horizontally and vertically */
	align-items: center;
	justify-content: center;
  }
  /* If there's an icon, we typically don't show the white center dot; 
	 if you want to keep it, you can adjust the rule to a conditional class. */
  .hotspot-content.no-icon::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	max-width: 20px;
	max-height: 20px;
	height: 30%;
	background-color: #fff;
	border-radius: 50%;
  }
  
  /* Index in the top-left corner */
  .hotspot-content .index {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 0.25rem 0.4rem;
	font-size: 14px;
	line-height: 1;
	border-radius: 2px;
  }
  
  /* Tooltip style */
  .hotspot-tooltip {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	min-width: 110px;
	max-width: 180px;
	z-index: 200;
	pointer-events: none;
	font-size: 14px;
	line-height: 1.2;
	opacity: 0;
	transition: opacity 0.2s ease, visibility 0.2s ease;
	word-wrap: break-word;
}

.hotspot-tooltip a {
	overflow-wrap: break-word;
	word-break: break-word;
	text-decoration: none;

	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

.hotspot-tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	bottom: auto;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip-bottom::after {
	content: "";
	position: absolute;
	bottom: 100%;
	top: auto;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}

.fullscreen-layer .hotspot {
	z-index: 200;
}
.fullscreen-layer .hotspot-tooltip {
	font-size: 16px;
}