/* Video Editor Set up */
@media screen and (max-width: 782px) {
	.auto-fold #root-video-analytics {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 960px) {
	.auto-fold #root-video-analytics {
		margin-left: 36px;
	}
}

.folded #root-video-analytics {
	margin-left: 36px;
}

#root-video-analytics {
	@apply bg-slate-100;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	margin-left: 160px;
	padding-left: 20px;
	padding-top: var(--wp-admin--admin-bar--height, 0);
}

#root-video-analytics {

	// Video JS styles
	.video-analytics-container {
		@apply flex justify-center py-6 bg-slate-100 overflow-auto px-10 pt-20;
	}

	.analytics-info-container {
		hr {
			@apply border-0 border-t-2 border-dashed ml-auto border-slate-400;
		}

		.analytics-info {
			display: flex;
			align-items: center;
			gap: 30px;

			span {
				font-size: 20px;
				font-weight: 600;
				width: 50px;
			}

			p {
				font-size: 18px;
			}
		}
	}

	// Video Chart styles
	.video-container {
		position: relative;
		max-width: 640px;
	}

	.video-chart-container {
		position: absolute;
		bottom: 0;
	}

	#chart-container {
		width: 640px;
		font-family: sans-serif;

		.line {
			fill: none;
			stroke: rgb(59, 95, 255);
			stroke-width: 2px;
		}

		.area {
			fill: rgba(255, 165, 0, 0.5);
			/* Light orange fill */
		}

		.tooltip {
			position: absolute;
			background-color: white;
			border: 1px solid #ccc;
			padding: 5px;
			border-radius: 4px;
			pointer-events: none;
			white-space: nowrap;
			font-size: 12px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			text-align: center;
			display: none;
		}

		.tooltip::after {
			content: "";
			position: absolute;
			border-width: 8px;
			border-style: solid;
			border-color: white transparent transparent transparent;
			right: 100%;
			top: 50%;
			transform: translateY(-50%) rotate(90deg);
		}

		.hover-line {
			stroke: orange;
			stroke-width: 1.5px;
			stroke-dasharray: 4 2;
			opacity: 0;
		}

		.focus-circle {
			fill: #3858e9;
			stroke: white;
			stroke-width: 2px;
			r: 6;
		}
	}

	#heatmap-container {
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
		max-width: 640px;
		margin: auto;
		margin-top: 2rem;

		.heatmap-tooltip {
			position: absolute;
			/* background-color: white; */
			/* border: 1px solid #ccc; */
			padding: 0 5px;
			border-radius: 4px;
			pointer-events: none;
			font-size: 12px;
			/* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
			text-align: center;
		}

		.heatmap-tooltip-html {
			padding: 5px 10px;
			line-height: 1.5;
			white-space: nowrap;
			transform: translateX(-50%);
			background-color: #fff;
			border: 1px solid #ccc;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
			border-radius: 4px;
		}

		.heatmap-vertical-line {
			stroke: #aaa;
			stroke-dasharray: 4;
			stroke-width: 2px;
		}
	}
}