/* Video Editor Set up */
@media screen and (max-width: 782px) {
	.auto-fold #root-video-analytics {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 960px) {
	.auto-fold #root-video-analytics {
		margin-left: 36px;
	}
}

.folded #root-video-analytics {
	margin-left: 36px;
}

#root-video-analytics {
	@apply bg-slate-100;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: calc( 100vh - var(--wp-admin--admin-bar--height, 0) );
	margin-left: 160px;
	padding-top: var(--wp-admin--admin-bar--height, 0);
	overflow: auto;
	color: #000;
}

#root-video-analytics {

	// Video JS styles
	.video-analytics-container {
		@apply flex justify-between py-6 bg-slate-100 overflow-auto md:px-10 pt-8;
	}

	.country-heatmap-container {
		@apply bg-slate-100 overflow-auto;
	}

	.analytics-info-container {
		display: flex;
		gap: 27px;
		height: 100%;

		.analytics-info {
			display: flex;
			align-items: center;
			background-color: #fff;
			padding: 16px;
			border-radius: 12px;

			.analytics-single-info {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}

			.analytics-info-heading {
				font-size: 16px;
				display: flex;
				align-items: center;
				font-weight: 500;
				gap: 5px;

				.tooltip-container {
					display: flex;
					align-items: center;
				}
			}

			p {
				margin-block-end: unset;
				margin-block-start: unset;
			}

			.engagement-rate {
				font-weight: 600;
				font-size: 36px;
			}

			.analytics-stats {
				display: flex;
				align-items: center;
				gap: 8px;
				margin-top: auto;

				img {
					height: 10px;
					width: 10px;
				}
			}
		}
	}

	// Video Chart styles
	.video-container {
		position: relative;
		width: 100%;
		width: 830px;
	}

	.video-chart-container {
		position: absolute;
		bottom: 0;
	}

	#chart-container {
		width: 100%;

		svg {
			position: relative;
			top: 4px;
		}

		.line {
			fill: none;
			stroke: rgba(255, 246, 0, 1);
			stroke-width: 2px;
		}

		.area {
			fill: #ACAA3AB3;
			opacity: 0.7;
		}

		.tooltip {
			position: absolute;
			background-color: white;
			border: 1px solid #ccc;
			padding: 5px;
			border-radius: 4px;
			pointer-events: none;
			white-space: nowrap;
			font-size: 12px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			text-align: center;
			opacity: 0;
		}

		.tooltip::after {
			content: "";
			position: absolute;
			border-width: 8px;
			border-style: solid;
			border-color: white transparent transparent transparent;
			left: 50%;
			bottom: -16px;
			transform: translateX(-50%);
		}

		.hover-line {
			stroke: #fff;
			stroke-width: 1.5px;
			stroke-dasharray: 4 2;
			opacity: 0;
		}

		.focus-circle {
			fill: rgba(255, 200, 0, 1);
			stroke: white;
			stroke-width: 2px;
			r: 3.5;
		}
	}

	#heatmap-container {
		max-width: 830px;
		margin-top: 2rem;

		.heatmap-tooltip {
			position: absolute;
			position: absolute;
			background-color: white;
			border: 1px solid #ccc;
			padding: 5px;
			border-radius: 4px;
			pointer-events: none;
			white-space: nowrap;
			font-size: 12px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			text-align: center;
			opacity: 0;
			z-index: 999;

			&::after {
				content: "";
				position: absolute;
				border-width: 8px;
				border-style: solid;
				border-color: white transparent transparent transparent;
				left: 50%;
				bottom: -16px;
				transform: translateX(-50%);
			}

			&::before {
				content: "";
				position: absolute;
				border-width: 9px;
				border-style: solid;
				border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
				left: 50%;
				bottom: -21px;
				transform: translateX(-50%);
				filter: blur(2px);
				z-index: -1;
   			 }
		}

		.heatmap-vertical-line {
			stroke: #000;
			stroke-dasharray: 4;
			stroke-width: 2px;
		}
	}
}

.blurred {
	filter: blur(5px);
	pointer-events: none;
}

.api-key-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	z-index: 99;
}

.api-key-message {
	background: white;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.api-key-message a {
	color: #3b82f6;
	text-decoration: none;
	font-weight: 600;
}

.api-key-message a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

#root-video-analytics .hidden{
	display: none;
}

#tooltip-container {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#root-video-analytics #tooltip-container .tooltip-text {
	position: absolute;
	top: 100%;
    left: -95%;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	min-width: 110px;
	width: max-content;
	max-width: 200px;
	z-index: 100;
	pointer-events: none;
	font-size: 12px;
	line-height: 1.2;
	opacity: 0;
	transition: opacity 0.2s ease, visibility 0.2s ease;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#root-video-analytics #tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* Tooltip styling */
.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none; /* Prevents interfering with mouse events */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
}

.bar-container {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px; /* Adjust thickness */
            background-color: lightgray;
        }
        .bar {
            height: 100%;
            background-color: blue;
        }

.subheading-container {
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #ddd;
	margin: 0 0 0 40px;
	padding-bottom: 16px;
}

.subheading {
	margin-right: 20px;
	cursor: pointer;
	position: relative;
	font-weight: 500;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -17px;
		width: 100%;
		height: 2px;
		background-color: #AB3A6C;
	}
}

@media (max-width: 1024px) {
		#root-video-analytics {
			.video-analytics-container {
				padding: 40px;
			}
			.analytics-info-container {
				.analytics-info {
					min-width: 200px;
					gap: 20px;

				.analytics-single-info {
					width: 100%;
					align-items: center;
					gap: 7px;
				}

				.analytics-info-heading {
					width: 100%;
					justify-content: space-between;
				}
			}
		}
	}
}
