/* Video Editor Set up */
@media screen and (max-width: 782px) {
	.auto-fold #root-video-analytics {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 960px) {
	.auto-fold #root-video-analytics {
		margin-left: 36px;
	}
}

.folded #root-video-analytics {
	margin-left: 36px;
}

#root-video-analytics {
	@apply bg-slate-100;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: calc( 100vh - var(--wp-admin--admin-bar--height, 0) );
	margin-left: 160px;
	padding-top: var(--wp-admin--admin-bar--height, 0);
	overflow: auto;
}

#root-video-analytics {

	// Video JS styles
	.video-analytics-container {
		@apply flex justify-center py-6 bg-slate-100 overflow-auto md:px-10 pt-20;
	}

	.country-heatmap-container {
		@apply bg-slate-100 overflow-auto;
	}

	.analytics-info-container {
		hr {
			@apply border-0 border-t-2 border-dashed ml-auto border-slate-400;
		}

		.analytics-info {
			display: flex;
			align-items: center;
			gap: 30px;

			span {
				font-size: 20px;
				font-weight: 600;
				width: 50px;
			}

			p {
				font-size: 18px;
			}
		}
	}

	// Video Chart styles
	.video-container {
		position: relative;
		max-width: 640px;
	}

	.video-chart-container {
		position: absolute;
		bottom: 0;
	}

	#chart-container {
		width: 640px;

		svg {
			position: relative;
			top: 4px;
		}

		.line {
			fill: none;
			stroke: rgb(59, 95, 255);
			stroke-width: 2px;
		}

		.area {
			fill: rgba(255, 165, 0, 0.5);
		}

		.tooltip {
			position: absolute;
			background-color: white;
			border: 1px solid #ccc;
			padding: 5px;
			border-radius: 4px;
			pointer-events: none;
			white-space: nowrap;
			font-size: 12px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			text-align: center;
			opacity: 0;
		}

		.tooltip::after {
			content: "";
			position: absolute;
			border-width: 8px;
			border-style: solid;
			border-color: white transparent transparent transparent;
			right: 100%;
			top: 50%;
			transform: translateY(-50%) rotate(90deg);
		}

		.hover-line {
			stroke: orange;
			stroke-width: 1.5px;
			stroke-dasharray: 4 2;
			opacity: 0;
		}

		.focus-circle {
			fill: #3858e9;
			stroke: white;
			stroke-width: 2px;
			r: 6;
		}
	}

	#heatmap-container {
		max-width: 640px;
		margin: auto;
		margin-top: 2rem;

		.heatmap-tooltip {
			position: absolute;
			padding: 0 5px;
			border-radius: 4px;
			pointer-events: none;
			font-size: 12px;
			text-align: center;
		}

		.heatmap-tooltip-html {
			padding: 5px 10px;
			line-height: 1.5;
			white-space: nowrap;
			transform: translateX(-50%);
			background-color: #fff;
			border: 1px solid #ccc;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
			border-radius: 4px;
		}

		.heatmap-vertical-line {
			stroke: #aaa;
			stroke-dasharray: 4;
			stroke-width: 2px;
		}
	}
}

.blurred {
	filter: blur(5px);
	pointer-events: none;
}

.license-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	z-index: 99;
}

.license-message {
	background: white;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.license-message a {
	color: #3b82f6;
	text-decoration: none;
	font-weight: 600;
}

.license-message a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

#root-video-analytics .hidden{
	display: none;
}

#tooltip-container {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#root-video-analytics #tooltip-container .tooltip-icon {
	background-color: #a6a6a6;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	line-height: 0;
	opacity: 0.5;
}

#root-video-analytics #tooltip-container .tooltip-text {
	position: absolute;
	bottom: 50%;
	left: 50%;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	min-width: 110px;
	width: max-content;
	max-width: 300px;
	z-index: 100;
	pointer-events: none;
	font-size: 12px;
	line-height: 1.2;
	opacity: 0;
	transition: opacity 0.2s ease, visibility 0.2s ease;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#root-video-analytics #tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* Tooltip styling */
.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none; /* Prevents interfering with mouse events */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
}

.bar-container {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px; /* Adjust thickness */
            background-color: lightgray;
        }
        .bar {
            height: 100%;
            background-color: blue;
        }