<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap-unit.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	cacheResultFile=".phpunit.result.cache"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/phpunit/unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">inc/helpers</directory>
			<directory suffix=".php">inc/classes/enums</directory>
			<directory suffix=".php">inc/classes/traits</directory>
			<directory suffix=".php">inc/traits</directory>
			<directory suffix=".php">inc/classes/migrations</directory>
		</include>
	</coverage>
</phpunit>
