/**
 * CSS File for the indicator component
 *
 * Relies on the parent --spacing variable to determine the width of the indicator.
 * The indicator is a horizontal line that is used to show the path to the current folder.
 */


.indicator-parent {
	padding-top: 0px;
	padding-bottom: 0px;

	display: flex;
	justify-content: end;
}

.indicator {
	opacity: 1;
	position: relative;
	z-index: 1;
	margin-bottom: -1px;

	padding: 0;
	height: 4px;
	border-color: #2389ff;
	background-color: #56a1f8;

	width: calc( 100% - ( var(--spacing) + 8px ) );
}

.indicator::before {
	position: absolute;
	left: -8px;
	top: -4px;
	display: block;
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #2389ff;
	background-color: #ffffff;
}

.indicator > * {
	height: 0;
	opacity: 0;
}
