.tree-item {
	all: unset;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 0.5rem 0;
	border-radius: 0.375rem;
	position: relative;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		background-color: #e5e7eb;
	}

	&--active {
		background-color: #e5e7eb;
	}

	&--dragging {
		padding-top: 0;
		padding-bottom: 0;

		display: flex;
		justify-content: end;
	}

	&__button {
		all: unset;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		text-align: left;
		padding: 0;

		&--dragging {
			opacity: 1;
			position: relative;
			z-index: 1;
			margin-bottom: -1px;

			padding: 0;
			height: 4px;
			border-color: #2389ff;
			background-color: #56a1f8;

			width: calc( 100% - ( var(--spacing) + 8px ) );

			&::before {
				position: absolute;
				left: -8px;
				top: -4px;
				display: block;
				content: '';
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 1px solid #2389ff;
				background-color: #fff;
			}

			> * {
				height: 0;
				opacity: 0;
			}
		}
	}

	&__chevron {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 0.375rem;
		cursor: pointer;

		&:hover {
			background-color: #f3f4f6;
		}

		&_open {
			transform: rotate(90deg);
			transform-origin: center;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		width: 100%;

		svg {
			overflow: initial;
		}
	}

	&__text {
		font-size: 0.875rem;
		color: #4a4a4a;
		white-space: normal;
		overflow-wrap: break-word;
		word-break: break-word;
		max-width: 150px;
	}

	&__spacer {
		padding: 0 24px 0 0;
	}

	&__status {
		margin-left: auto;
		display: flex;

		.bookmark-star {
			fill:#F79009;
		}
	}

	&__count {
		font-size: 0.75rem;
		font-weight: 600;
		color: #1c1c1c;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
		height: 1.5rem;
		min-width: 1.5rem;
		border-radius: 0.5rem;

		background-color: #F5F5F5;

		margin-right: 0.5rem;

		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

}
