.tree-container {
	justify-content: center;
	width: 100%;

	.tree {
		display: flex;
		flex-direction: column;
		width: 100%;

		&-load-more {
			all: unset;
			display: inline-block;
			cursor: pointer;
			color: #555;
			text-decoration: underline;
			font-size: 0.875rem;
			padding: 0.25rem 0.5rem;
			transition: color 0.2s ease, text-decoration-color 0.2s ease;
			margin-bottom: 1rem;

			@media (max-width: 900px) {
				margin-bottom: 1.5rem;
			}

			&:hover {
				color: #333;
				text-decoration-color: #333;
			}
		}
	}
}
