.godam-retranscode-item {
    display: flex;
    
    &--icon {
        width: 24px;
        height: 24px;
        background-color: #f0f0f0;
        border-radius: 50%;
        margin-right: 20px;
    }


    &--title {
        display: flex;
        align-items: center;
    }
}

.godam-storage-exceeded-notice {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #ffebe8;
    border-left: 4px solid #dc3232;
}