#wpcontent {
	padding-left: 0;
}

#wpbody-content {
	height: 100%;
}

.easydam-settings {

	&-header {
		background: #fff;
	}
}

#root-video-help {
	background-image: url(../../assets/src/images/hero-bg.webp);
	background-size: cover;
}

.godam-help-container {

	.godam-settings-header-content {

		@media (max-width: 420px) {
			padding-left: 10px;
			padding-right: 14px;
		}
	}

	.components-button.has-icon.has-text {

		@media (max-width: 640px) {
			padding: .75rem 0.75rem;
		}
	}
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;

	h1 {
		font-style: normal;
		font-weight: 800;
		color: #ab3a6c;
	}
}

.hero-text {
	text-align: center;
	margin: 2rem 0;
}

.search {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	margin: 1.5rem auto;
	background-color: #fff;
	border-radius: 2rem;
	border: 2px solid #ab3a6c;
	cursor: pointer;
	position: relative;
	width: 100%;
	max-width: 400px;

	svg {
		position: absolute;
		left: 1rem;
	}

	input[type="search"] {
		padding-left: 3em;
		border-style: none;
		-webkit-appearance: none;
		appearance: none;
		outline: none;
		background-color: #fff;
		width: 100% !important;
		border-radius: 2rem;

		&::-webkit-search-cancel-button {
			display: none;
		}
	}

	textarea:focus,
	input:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.hero-content {
	padding: 10px 0;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

.single-container {
	background-color: #fff;
	width: 310px;
	border-radius: 12px;
	box-shadow: 3px 4px 4px #d3d3d3;

	h3 {
		color: #242748;
		font-weight: 400;
	}
}

.single-container-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	min-height: 100px;
	border-radius: 12px 12px 0 0;
}

.single-container-content {
	padding: 0 1.5rem 1.5rem 1.5rem;
}

.cards-container li {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 1rem;

	svg {
		border: 1px solid #ab3a6c;
		border-radius: 50%;
		box-shadow: 0 0 3px #ab3a6c;
		padding: 5px;
		position: relative;
		top: 0;
		cursor: pointer;
		height: 10px;
		width: 10px;
	}
}

.single-container ul li {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 1rem;

	a {
		color: #000;
		text-decoration: none;
	}

	.icon {
		border-radius: 999px;
		border: 1px solid #ab3a6c;
	}

	&:hover {

		svg {
			background-color: #ab3a6c;
			border-radius: 999px;
			left: 2px;

			path {
				fill: #fff;
			}
		}

		li {
			color: #ab3a6c;
			font-weight: 600;
		}
	}
}

@media (max-width: 768px) {

	#wpcontent {
		padding-left: 0 !important;
	}
}