#wpcontent {
  padding-left: 0;
}

#wpbody-content {
  background-image: url("../../assets/src/images/hero-bg.webp");
  background-size: cover;
  height: 100%;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  h1 {
    font-style: normal;
    font-weight: 800;
    color: #ab3a6c;
  }
}

.hero-text {
  text-align: center;
  margin: 2rem 0;
}

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin: 1.5rem auto;
  background-color: #fff;
  border-radius: 2rem;
  width: 40%;
  padding: 0 1rem;
  border: 2px solid #ab3a6c;
  cursor: pointer;

  input[type="search"] {
    padding-left: 2.5em;
    border-style: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    background-color: #fff;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  textarea:focus,
  input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.hero-content {
  padding: 10px 0;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

.single-container {
  background-color: #fff;
  width: 310px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 3px 4px 4px #d3d3d3;

  h3 {
    color: #242748;
    font-weight: 400;
  }
}

.single-container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  min-height: 100px;
  border-radius: 12px 12px 0 0;
}

.single-container-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.cards-container a {
  color: #000;
  text-decoration: none;

  &:hover {
    svg {
      background-color: #ab3a6c;
      left: 2px;

      path {
        fill: #fff;
      }
    }

    li {
      color: #ab3a6c;
      font-weight: 600;
    }
  }
}

.cards-container li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;

  svg {
    border: 1px solid #ab3a6c;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #ab3a6c;
    padding: 5px;
    position: relative;
    top: 0;
    cursor: pointer;
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 768px) {
  #wpcontent {
    padding-left: 0 !important;
  }
  .cards-container {
    grid-template-columns: unset;
    grid-template-rows: repeat(3, 1fr);
    margin: 20px auto;
  }
}
