.wp-block-godam-video-thumbnail .godam-editor-video-thumbnail {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e5e5e5;
	border-radius: 6px;
	position: relative;
	min-height: 150px;
	
	.godam-editor-video-play-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.2s ease;
		
		svg {
			color: #fff;
			width: 60px;
			height: 60px;
			filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
		}
	}
	
	&:hover .godam-editor-video-play-button {
		transform: translate(-50%, -50%) scale(1.1);
	}
}