.wp-block-godam-video-thumbnail {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;
	height: 100%;
	position: relative;

	img.godam-video-thumbnail {
		width: 100%;
		object-fit: cover;
	}

	.godam-video-thumbnail__fallback {
		display: block;
		width: 100%;
		height: 100%;
		aspect-ratio: 16 / 9;
		background: #000;
	}

	.godam-video-thumbnail__link {
		display: block;
		position: relative;
	}

	.godam-video-thumbnail__play-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.2s ease;

		svg {
			color: #fff;
			width: 60px;
			height: 60px;
			filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
		}
	}

	&:hover .godam-video-thumbnail__play-button {
		transform: translate(-50%, -50%) scale(1.1);
	}
}
