.wp-block-godam-video .godam-editor-video-placeholder {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e5e5e5;
	border-radius: 6px;
	position: relative;
	aspect-ratio: 16 / 9;
}

.wp-block-godam-video {

	.godam-video-container {
		position: relative;
		width: 100%;
	}

	.godam-video-loading {
		width: 100%;
		background-color: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;

		.godam-video-loading-spinner:not(.hide) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
				
			&::after {
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				border: 4px solid #fff;
				border-top-color: transparent;
				border-radius: 50%;
				animation: godam-spin 1s linear infinite;
			}
		}
	}

	@keyframes godam-spin {

		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}