.hover-control-input-container {
    display: flex;
    align-content: center;
}

.toggle-color{
    height: 50px;
}

.left-align {
    left: 3em !important;
}

.right-align {
    left:auto !important;
    right:1.5em;
}

.top-align {
    top: 1.5em !important;
}

.bottom-align {
    top:auto !important;
    bottom:1.5em;
}

.vjs-big-play-button {
    background-size: 100% 100% !important;
}

.vjs-control-bar-vertical {
    width: 10% !important;
    height: 100% !important;
    flex-direction: column;
    overflow: scroll;
}

.vjs-control-vertical, .vjs-volume-control-vertical {
    height: 6em !important;
    width: 6em !important;
}

.vjs-volume-panel-vertical {
    flex-direction: column;
}

.vjs-volume-vertical {
    left: 0 !important;
}

.components-custom-select-control__item-icon {
    display: none;
}

.image-overlay-text {
    font-size: 15px;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
}

.image-cta-container, .vertical-image-cta-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 600px;
    background-color: #fff;
    align-items: center;
    padding: 20px;

    h2 {
        font-size: 32px;
        font-weight: 700;
    }

    p {
        color: #8c8c8c;
    }
}

.image-cta-description {
    flex-basis: 50%;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    justify-content: center;
    padding-left: 0;

    a {
        text-decoration: none;
    }
}

.image-cta-btn {
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #eeab95;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    width: fit-content;
	text-align: center;
}

.image-cta-btn:hover {
	color: #fff;
}

.vertical-image-cta-container {
    flex-direction: column;
    width: 250px;
    border-radius: 36px;
    padding-top: 20px;

    img {
        border-radius: 25px;
    }

    .image-cta-description {
        text-align: center;
    }

    .image-cta-btn {
        margin: 0 auto;
    }
}
