$godam-primary-gradient: linear-gradient(83.85deg, #AB3A6C -9.3%, #E6533A 120.31%);
$godam-primary-color: rgba(194, 0, 0, 1);
$godam-light-color: rgba(255, 244, 244, 1);

$godam-gray-color: rgba(243, 245, 247, 1);
$godam-black-color: rgba(33, 33, 33, 1);
$godam-blue-color: rgba(39, 125, 255, 1);
