$godam-primary-gradient: linear-gradient(83.85deg, #AB3A6C -9.3%, #E6533A 120.31%);
$godam-primary-color: rgba(194, 0, 0, 1);
$godam-light-color: rgba(255, 244, 244, 1);
$godam-primary-text-color: #AB3A6C;

$godam-gray-color: rgba(243, 245, 247, 1);
$godam-black-color: rgba(33, 33, 33, 1);
$godam-blue-color: rgba(39, 125, 255, 1);

$godam-share-modal-text-color: #353B41;
$godam-share-modal-close-btn-color: #353B41;
$godam-share-modal-divider-color: #EBEDF9;
$godam-share-modal-gray-accent-1: #F7FAFB;
$godam-share-modal-gray-accent-2: #EAEEF1;
$godam-share-modal-overlay-background: rgba(0, 0, 0, 0.4);
