:root {
    --godam-video-engagement-background-color: rgb( 0, 0, 0 );
    --godam-video-engagement-modal-background-color: rgba( 0, 0, 0, 0.5 );
    --godam-video-engagement-icon-color: rgba( 255, 255, 255, 0.6 );
    --godam-video-engagement-icon-color--like: rgb( 249, 24, 128 );
    --godam-video-engagement-icon-color--like-background: rgba( 249, 24, 128, 0.1 );
    --godam-video-engagement-icon-color--comment: rgb( 29, 155, 240 );
    --godam-video-engagement-icon-color--comment-background: rgba( 29, 155, 240, 0.1 );
    --godam-video-engagement-icon-color--view: rgb( 0, 186, 124 );
    --godam-video-engagement-icon-color--view-background: rgba( 0, 186, 124, 0.1 );
    --godam-video-engagement-comment--border-color: rgb( 136, 136, 136, 0.5 );
    --godam-video-engagement-font-family: sans-serif;
    --godam-video-engagement-brand-neutral-shades-25: #E0E0E0;
    --godam-video-engagement-brand-neutral-shades-50: #CCC;
    --godam-video-engagement-brand-neutral-shades-100: #B8B8B8;
    --godam-video-engagement-modal-close-button-shadow: 0 2.09px 4.18px 2.09px #00000012;
}

%progressing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: none;
    color: transparent;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;

    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border: 2px solid var( --wp--preset--color--white, #fff );
        border-top: 2px solid var( --wp--preset--color--black, #000 );
        border-radius: 50%;
        animation: comment-loading 1s linear infinite;
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.rtgodam-video-engagement {
    font-family: var( --godam-video-engagement-font-family );
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 0 !important;
    background-color: var( --godam-video-engagement-background-color );
    border-radius: 0 0 8px 8px;

    &--like,
    &--comment,
    &--view {

        &-icon {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 50%;
        }

        &-link {
            color: var( --godam-video-engagement-icon-color );
            text-decoration: none;
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            transition: all 0.2s ease;
            font-size: 1.2rem;
            line-height: 1;
            font-family: var( --godam-video-engagement-font-family );
            font-weight: 400;
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;

            &.is-progressing,
            &:hover {

                & .rtgodam-video-engagement--like-icon {
                    color: var( --godam-video-engagement-icon-color--like );
                    background-color: var( --godam-video-engagement-icon-color--like-background );
                }

                & .rtgodam-video-engagement--comment-icon {
                    color: var( --godam-video-engagement-icon-color--comment );
                    background-color: var( --godam-video-engagement-icon-color--comment-background );
                }
            }

            &.is-progressing {
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0.6;
                animation: pop 0.4s ease;
                animation-iteration-count: infinite;
            }

            &.is-liked {

                svg {
                    fill: var( --godam-video-engagement-icon-color--like );
                    stroke: var( --godam-video-engagement-icon-color--like );
                }
            }
        }

        &-count {
            position: relative;
            top: 10px;
            left: -8px;
        }
    }

    &--view-link {
        cursor: default;
    }

    &--link-disabled {
        cursor: not-allowed;
        pointer-events: none;

        .rtgodam-video-engagement--like-count,
        .rtgodam-video-engagement--comment-count,
        .rtgodam-video-engagement--view-count {
            display: none;
        }
    }

    &--comment-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var( --godam-video-engagement-modal-background-color );
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        z-index: 30;
        backdrop-filter: blur( 40px );
        -webkit-backdrop-filter: blur( 40px );

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 24px;
            gap: 1.5rem;
        }

        &--video {
            display: flex;
            column-gap: 1.5rem;
            row-gap: 1rem;
            height: calc( 100% - 65px );

            &-figure {
                flex-basis: 70%;
                width: 70%;

                figure,
                .godam-video-wrapper,
                .easydam-video-container,
                .video-js {
                    width: 100%;
                    height: 100% !important;
                    border-radius: 8px;
                    padding-top: 0 !important;
                }

                .vjs-control-bar {
                    border-radius: 0 0 8px 8px;
                }

                @media screen and ( max-width: 993px ) {
                    flex-basis: 60%;
                    width: 60%;                
                }
            }

            @media screen and ( max-width: 768px ) {
                flex-direction: column;
                position: relative;
            }

            &-info {
                flex-basis: 30%;
                overflow-y: scroll;
                overflow-x: hidden;
                border: 1px solid var( --godam-video-engagement-brand-neutral-shades-25 );
                border-radius: 8px;
                box-shadow: var( --godam-video-engagement-modal-close-button-shadow );
                display: flex;
                flex-direction: column;

                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-track {
                    background:  transparent;
                    border-radius: 20px;
                }

                &::-webkit-scrollbar-thumb {
                    background: var( --godam-video-engagement-brand-neutral-shades-25 );
                    border-radius: 20px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: var( --wp--preset--color--black, #000 );
                }

                &-close {
                    display: none;
                }

                &-title {
                    font-size: clamp( 0.875rem, 3vw, 1rem );
                    font-weight: 600;
                    line-height: 1.1;
                    margin-bottom: 10px;
                    margin-top: 0;
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    background-color: var( --wp--preset--color--white, #fff );
                    padding: 1.5rem;
                    border-bottom: 1px solid var( --godam-video-engagement-brand-neutral-shades-25 );
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                &-expend {
                    display: none;
                    background-color: transparent;
                    border: none;
                    font-size: 1.5rem;
                    cursor: pointer;
                    background-image: url( ../images/expend-comment.svg );
                    background-position: center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    color: transparent;

                    @media screen and ( max-width: 768px ) {
                        display: block;
                        transform: rotate( 180deg );
                        position: relative;
                        top: -2px;
                    }
                }

                @media screen and ( max-width: 993px ) {
                    flex-basis: 40%;
                }

                @media screen and ( max-width: 768px ) {

                    flex-basis: 100%;
                    overflow: auto;
                    max-height: 80%;
                    transition: max-height 0.3s ease;

                    &.is-comment-expanded {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: var( --wp--preset--color--white, #fff );
                        max-height: 90%;
                        z-index: 20;

                        .rtgodam-video-engagement--comment-modal--video-info-expend {
                            transform: rotate( 0deg );
                            top: 0;
                        }
                    }
                }
            }
        }

        &--close-button {
            color:transparent;
            background-color: transparent;
            background-image: url( ../images/close-comment-modal.svg );
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            cursor: pointer;
            border: none;
            width: clamp( 1.5rem, 50vw, 2rem );
            height: clamp( 1.5rem, 50vw, 2rem );
            border-radius: 50%;

            &:hover {
                box-shadow: var( --godam-video-engagement-modal-close-button-shadow );
            }
        }

        &-title {
            font-size: clamp( 0.9rem, 4vw, 1.5rem );
            line-height: 1.5;
            font-weight: 700;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
        }

        &-leave-comment {
            position: sticky;
            bottom: 0;
            background-color: var( --wp--preset--color--white, #fff );
            z-index: 10;
            padding: 1.5rem;
            box-shadow: -7.94px -2.65px 15.87px 6.61px #0000000D;
            margin-top: auto;

            &-impressions {
                    display: flex;
                    gap: 1.5rem;
                    padding-bottom: 1.4rem;

                span,
                button {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    line-height: 1;
                    gap: 3px;

                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-size: 100% 100%;
                        background-position: center;
                    }
                }

                &-likes {
                    cursor: pointer;
                    border: none;
                    background: none;

                    &::before {
                        background-image: url( ../images/likes-count.svg );
                    }

                    &.is-liked {

                        &::before {
                            mask-image: url( ../images/likes-count.svg );
                            mask-repeat: no-repeat;
                            background-color: var( --godam-video-engagement-icon-color--like );
                        }
                    }

                    &.is-progressing {
                        cursor: not-allowed;
                        pointer-events: none;
                        opacity: 0.6;
                        animation: pop 0.4s ease;
                        animation-iteration-count: infinite;
                    }
                }

                &-views {

                    &::before {
                        background-image: url( ../images/views-count.svg );
                    }
                }
            }

            &-login {
                font-size: 1rem;
                line-height: 3rem;
                color: var( --wp--preset--color--black, #000 );
                height: 3rem;
                border: 1px solid var( --godam-video-engagement-brand-neutral-shades-50 );
                backdrop-filter: blur( 4px );
                border-radius: 8px;
                text-align: center;
                position: relative;
                padding: 5px;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 10px;
                    width: 50px;
                    height: 100%;
                    background-image: url( ../images/login-to-comment-bg.png );
                    z-index: -1;
                    background-repeat: no-repeat;
                    background-position: right;
                    background-size: contain;
                    filter: blur( 4px );
                }

                a {
                    color: #E6533A;
                    background: linear-gradient( 90deg, #AB3A6C 0%, #E6533A 100% );
                    background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &-guest {

                    &-form {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding-top: 5px;

                        input[type="text"],
                        input[type="email"],
                        input[type="password"] {
                            font-size: 12px;
                            line-height: 1;
                            color: var( --wp--preset--color--black, #000 );
                            border-radius: 8px;
                            border: 1px solid var( --godam-video-engagement-brand-neutral-shades-100 );
                            padding: 10px;

                            &.is-progressing {
                                cursor: not-allowed;
                                pointer-events: none;
                                opacity: 0.6;
                            }
                        }

                        label {
                            display: none;
                        }
                    }
                    
                    &-button {
                        display: flex;
                        gap: 5px;
                        
                        button {
                            flex: 1;
                            display: block;
                            margin-top: 10px;
                            background-color: transparent;
                            font-size: 0.9rem;
                            line-height: 1;
                            cursor: pointer;
                            padding: 10px 5px;
                            border: 1px solid var( --godam-video-engagement-brand-neutral-shades-100 );
                            color: #E6533A;
                            width: 100%;
                            border-radius: 8px;
                            transition: all 0.3s ease;

                            &:hover {
                                color: var( --wp--preset--color--black, #000 );
                            }

                            &.is-progressing {

                                @extend %progressing;
                                color: transparent;
                                cursor: not-allowed;
                                pointer-events: none;
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }

        &-content {
            background-color: var( --wp--preset--color--white, #fff );
            border-radius: 10px;
            padding: clamp( 16px, 3.5vw, 40px );
            width: calc( 100% - clamp( 72px, 16vw, 244px ) );
            max-width: 1756px;
            height: calc( 100% - clamp( 72px, 24vw, 170px ) );
            max-height: 826px;
            position: relative;
            box-sizing: border-box;

            &.is-embed-page {
                width: 100% !important;
                max-width: none !important;
                height: 100% !important;

                @media screen and ( max-width: 768px ) {
                    padding: 0;
                }
            }

            &.is-skip-engagements {

                .rtgodam-video-engagement--comment-modal--video-figure {
                    flex: 1;
                    flex-basis: 100%;
                    width: 100%;
                }
            }
        }

        &--mobile-engagements {
            display: none;
        }
    }

    &--comment {

        &-list {
            padding: 1rem;
        }

        &-parent {
            position: relative;
        }

        &-child {
            padding-left: 1rem;
            
            &:last-child {
                padding-bottom: 0;
            }

            &-number {
                cursor: pointer;
                background-color: transparent;
                color: #AB3A6C;
                border: none;
                font-size: 12px;
                padding: 5px 8px;
                margin-left: 45px;
                margin-bottom: 15px;
                position: relative;
                top: -10px;
                border-left: 3px solid var( --godam-video-engagement-brand-neutral-shades-100 );
            }
        }

        &-details {
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
            margin-bottom: 15px;
            gap: 15px;
        }

        &-content {
            margin-bottom: 1rem;

            &-wrapper {
                flex: 1;
            }
        }

        &-author {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            align-items: center;
            background-color: var( --wp--preset--color--white, #fff );
            margin-bottom: 8px;

            &-name {
                font-size: clamp( 0.75rem, 2vw, 0.875rem );
                line-height: 1.3;
                font-weight: 600;
            }
            
            &-image {
                border-radius: 50%;
                width: 28px;
                height: 28px;
            }
        }

        &-date,
        &-time {
            position: relative;
            top: 1px;
            font-size: 12px;
            line-height: 1.5;
            color: #666;
        }

        &-time {
            color: #E6533A;
            background: linear-gradient( 90deg, #AB3A6C 0%, #E6533A 100% );
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-text {
            font-size: clamp( 0.75rem, 2vw, 0.875rem );
            line-height: 1.3;

            &.deleted-text {
                color: var( --godam-video-engagement-brand-neutral-shades-100 );
                font-style: italic;
            }
        }

        &-form {

            &-textarea {
                display: flex;
                gap: 5px;
                border: 1px solid var( --godam-video-engagement-brand-neutral-shades-100 );
                border-radius: 8px;
                min-height: 48px;
                align-items: center;
                justify-content: flex-end;
                padding-right: 12px;

                textarea {
                    font-family: var( --godam-video-engagement-font-family );
                    width: 100%;
                    border: none;
                    border-radius: 8px;
                    padding: 12px;
                    outline: none;
                }

                button {
                    margin: 0;
                    border: none;
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    color: transparent;
                    background-image: url( ../images/comment-send.svg );
                    background-size: 100% 100%;
                    background-position: center;
                    background-repeat: no-repeat;

                    &:is( :disabled ) {
                        opacity: 0.5;
                        pointer-events: none;
                        cursor: not-allowed;
                    }

                    &.is-comment-progressing {

                        @extend %progressing;
                    }
                }
            }

            &-emoji-picker {
                --epr-preview-height: 50px;
                --epr-category-navigation-button-size: 1.8rem;
                padding-bottom: 5px;

                .epr-main {
                    width: 100% !important;
                }

                .epr-category-nav {
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }
            }
        }

        &-action {
            margin-bottom: 10px;
            display: flex;

            button {
                display: flex;
                align-items: center;
                gap: 4px;
                border: none;
                padding: 0;
                font-size: 12px;
                line-height: 1.5;
                font-weight: 500;
                color: #666;

                &::before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url( ../images/charm_reply.svg );
                    background-size: 100% 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:hover {
                    color: var( --wp--preset--color--black, #000 );
                }

                &.comment-button-reply {

                    &::before {
                        background-image: url( ../images/charm_reply.svg );
                    }
                }

                &.comment-button-edit {

                    &::before {
                        background-image: url( ../images/charm_edit.svg );
                    }
                }

                &.comment-button-delete {

                    &::before {
                        background-image: url( ../images/charm_delete.svg );
                    }

                    &.is-deleting {

                        &::before{
                            background-image: none;
                        }

                        @extend %progressing;
                    }
                }
            }
        }

        &-button {
            border: 1px solid var( --godam-video-engagement-comment--border-color );
            padding: 7px 10px;
            border-radius: 5px;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-right: 10px;

            &.button-general:hover {
                background-color: var( --wp--preset--color--black, #000 );
                color: var( --wp--preset--color--white, #fff );
            }

            &-timestamp {
                background-image: url( ../images/timestamp.svg ) !important;
                cursor: pointer;
            }

            &-emoji {
                background-image: url( ../images/emoji.svg ) !important;
                cursor: pointer;
            }
        }

        &-go-to-timestamp {
            cursor: pointer;
            text-decoration: underline;
            background: none;
            border: none;
            outline: none;
            color: var( --godam-video-engagement-icon-color--like );
            padding-left: 0;
        }
    }

    &--title {
        color: var( --godam-video-engagement-icon-color );
        margin-right: auto;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
    }
}

@media screen and ( max-width: 768px ) {

    .rtgodam-video-engagement {

        &--comment {

            &-modal {

                &--video {

                    &-figure {
                        flex-basis: auto;
                        width: 100%;

                        figure,
                        .godam-video-wrapper,
                        .easydam-video-container,
                        .video-js {
                            max-height: 350px;
                        }
                    }
                }

                &-content.is-skip-engagements {

                    .rtgodam-video-engagement--comment-modal--video-figure {

                        figure,
                        .godam-video-wrapper,
                        .easydam-video-container,
                        .video-js {
                            max-height: 100%;
                        }
                    }
                }
            }

            &-form {

                &-emoji-picker {

                    .epr-main {
                        height: 350px !important;
                    }
                }
            }
        }

        &-dynamic-ratio-9-16 {
        
            .rtgodam-video-engagement--comment-modal-content {
                position: relative;
                height: 95%;
                max-height: 95%;
                width: 95%;
                background-color: transparent;
            }

            .rtgodam-video-engagement--comment-modal--video-info {
                position: absolute;
                bottom: 10px;
                left: 10px;
                right: 10px;
                background-color: #fff;
                z-index: -1;
                transform: translateY(100%);
                opacity: 0;
                transition: transform 0.4s ease, opacity 0.4s ease;

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                    z-index: 10;
                }
            }

            .rtgodam-video-engagement--comment-modal--video-figure {
                height: 100%;

                figure,
                .godam-video-wrapper,
                .easydam-video-container,
                .video-js {
                    max-height: 100%;
                }
            }

            .rtgodam-video-engagement--comment-modal--mobile-engagements {
                display: flex;
                flex-direction: column;
                max-width: 30px;
                position: absolute;
                bottom: 130px;
                right: 15px;
                gap: 25px;
            }

            .rtgodam-video-engagement--comment-modal--mobile-engagements-button {
                background: none;
                outline: none;
                border: none;
                font-size: 15px;
                font-weight: 500;
                line-height: 1;
                color: #fff;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3px;

                &:hover {
                    cursor: pointer;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 28px;
                    background-size: 100% 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &.like {

                    &::before {
                        background-image: url( ../images/unlike-mobile-icon.svg );
                    }

                    &.is-progressing {
                        cursor: not-allowed;
                        pointer-events: none;
                        opacity: 0.6;
                        animation: pop 0.4s ease;
                        animation-iteration-count: infinite;
                    }

                    &.is-liked {

                        &::before {
                            background-image: url( ../images/like-mobile-icon.svg );
                        }
                    }
                }

                &.comment {

                    &::before {
                        background-image: url( ../images/comment-mobile-icon.svg );
                    }
                }

                &.view {

                    &::before {
                        background-image: url( ../images/view-mobile-icon.svg );
                    }
                }
            }

            .rtgodam-video-engagement--comment-modal-header {
                flex-direction: row-reverse;
                position: absolute;
                left: 25px;
                right: 25px;
                padding: clamp(16px, 3.5vw, 40px);
                z-index: 1;
                color: #fff;
                background: linear-gradient(
                    to bottom,
                    transparent,
                    rgba(0, 0, 0, 0.3),
                    transparent
                );
                border-radius: 8px;
                gap: 1rem;
            }

            .rtgodam-video-engagement--comment-modal--video {
                height: 100%;
            }

            .rtgodam-video-engagement--comment-modal--close-button {
                background-image: url( ../images/close-comment-modal-mobile-icon.svg );
                width: 24px;
                height: 24px;
            }

            .rtgodam-video-engagement--comment-modal-title {
                font-size: 1.1rem;
                font-weight: 600;
                color: #fff;
            }

            .rtgodam-video-engagement--comment-modal--video-info-title {
                justify-content: space-between;
            }

            .rtgodam-video-engagement--comment-modal--video-info-close {
                display: block;
                background-color: transparent;
                border: none;
                color: transparent;
                width: 12px;
                height: 12px;
                background-image: url( ../images/close-modal-comment-box-mobile-icon.svg );
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                cursor: pointer;
            }

            .rtgodam-video-engagement--comment-modal--video-info-expend {
                display: none;
            }
        }
    }
}

@keyframes pop {

  0%   { transform: scale( 1 ); }

  50%  { transform: scale( 1.2 ); }

  100% { transform: scale( 1 ); }
}

@keyframes comment-loading {

  0% {
    transform: rotate( 0deg );
  }

  100% {
    transform: rotate( 360deg );
  }
}