:root {
    --godam-video-engagement-background-color: rgb(0, 0, 0);
    --godam-video-engagement-modal-background-color: rgba(0, 0, 0, 0.5);
    --godam-video-engagement-icon-color: rgb(113, 118, 123);
    --godam-video-engagement-icon-color--like: rgb(249, 24, 128);
    --godam-video-engagement-icon-color--like-background: rgba(249, 24, 128, 0.1);
    --godam-video-engagement-icon-color--comment: rgb(29, 155, 240);
    --godam-video-engagement-icon-color--comment-background: rgba(29, 155, 240, 0.1);
    --godam-video-engagement-icon-color--view: rgb(0, 186, 124);
    --godam-video-engagement-icon-color--view-background: rgba(0, 186, 124, 0.1);
    --godam-video-engagement-comment--border-color: rgb(136, 136, 136, 0.5);
    --godam-video-engagement-font-family: sans-serif;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.rtgodam-video-engagement {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 0 !important;
    border: 1px solid var(--godam-video-engagement-background-color);
    background-color: var(--godam-video-engagement-background-color);
    border-radius: 0 0 8px 8px;

    &--link-disabled {
        cursor: not-allowed;
        pointer-events: none;

        a {
            position: relative;

            span {
                opacity: 0;
            }

            &::after {
                content: '';
                position: absolute;
                top: 12px;
                left: 22px;
                width: 10px;
                height: 10px;
                border: 2px solid var(--wp--preset--color--white, #fff);
                border-top: 2px solid var(--wp--preset--color--black, #000);
                border-radius: 50%;
                animation: comment-loading 1s linear infinite;
            }
        }
    }

    a {
        color: var(--godam-video-engagement-icon-color);
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        transition: all 0.2s ease;
        font-size: 1.2rem;
        line-height: 1;
        font-family: var(--godam-video-engagement-font-family);
        font-weight: 400;

        &.is-progressing,
        &:hover {

            & .rtgodam-video-engagement--like-icon {
                color: var(--godam-video-engagement-icon-color--like);
                background-color: var(--godam-video-engagement-icon-color--like-background);
            }

            & .rtgodam-video-engagement--comment-icon {
                color: var(--godam-video-engagement-icon-color--comment);
                background-color: var(--godam-video-engagement-icon-color--comment-background);
            }

            & .rtgodam-video-engagement--view-icon {
                color: var(--godam-video-engagement-icon-color--view);
                background-color: var(--godam-video-engagement-icon-color--view-background);
            }
        }

        &.is-progressing {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.6;
            animation: pop 0.4s ease;
            animation-iteration-count: infinite;
        }

        &.is-liked {
            svg {
                fill: var(--godam-video-engagement-icon-color--like);
                stroke: var(--godam-video-engagement-icon-color--like);
            }
        }
    }

    &--like,
    &--comment,
    &--view {
        &-icon {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 50%;
        }
        &-count {
            position: relative;
            top: 10px;
            left: -8px;
        }
    }

    &--comment-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--godam-video-engagement-modal-background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        z-index: 9999;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);

        &-content {
            margin: 15px;
            background-color: var(--wp--preset--color--white, #fff);
            border-radius: 10px;
            padding: 15px 15px 0 15px;
            max-width: 600px;
            max-height: 650px;
            width: calc(100% - 20px);
            height: calc(100% - 150px);
            overflow-y: scroll;
            position: relative;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background:  transparent;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--godam-video-engagement-comment--border-color);
                border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--wp--preset--color--black, #000);
            }
        }    

        &--close-button {
            position: absolute;
            top: 45px;
            right: 5px;
            color: var(--wp--preset--color--white, #fff);
            font-size: 40px;
            line-height: 40px;
            cursor: pointer;
            background-color: var(--wp--preset--color--black, #000);
            border: none;
            font-family: var(--godam-video-engagement-font-family);
            border-radius: 10px;
            width: 40px;
            height: 40px;
        }

        &-title {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 0;
        }

        &-leave-comment {
            position: sticky;
            bottom: 0;
            background-color: var(--wp--preset--color--white, #fff);
            z-index: 10;
            padding: 15px 0 15px 0;

            &-title {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .rtgodam-video-engagement--comment-form-textarea textarea {
                width: calc(100% - 20px);
            }
        }
    }

    &--comment {

        &-parent {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 20px;
                width: 1px;
                height: 100%;
                background-color: var(--godam-video-engagement-comment--border-color);
            }
        }

        &-child {
            padding-left: 30px;
            
            &:last-child {
                padding-bottom: 0;
            }

            > .rtgodam-video-engagement--comment-parent {

                &::before {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 15px;
                    left: -10px;
                    width: 15px;
                    height: 7px;
                    border-radius: 0 0 0 10px;
                    border-bottom: 1px solid var(--godam-video-engagement-comment--border-color);
                    border-left: 1px solid var(--godam-video-engagement-comment--border-color);
                }

                &:last-child:not(.has-children) {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 16px;
                        left: -14px;
                        width: 6px;
                        height: 91%;
                        background-color: var(--wp--preset--color--white, #fff);
                        z-index: 5;
                        border-radius: 0 10px 0 0;
                    }
                }
            }
        }

        &-details {
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
            margin: 15px 0;
            gap: 15px;
        }

        &-content {
            border-left: 1px solid var(--godam-video-engagement-background-color);
            padding: 12px;
            border: 1px solid var(--godam-video-engagement-comment--border-color);
            border-radius: 10px;
            margin-bottom: 10px;
        }

        &-author {

            background-color: var(--wp--preset--color--white, #fff);
            position: relative;
            z-index: 1;

            &-name {
                font-size: 1rem;
                line-height: 1;
                font-weight: 700;
                margin-bottom: 10px;
            }
            
            &-image {
                border-radius: 50%;
                width: 40px;
            }
        }

        &-text {
            font-size: 0.9rem;
            line-height: 1;
        }

        &-form {
            &-textarea {
                textarea {
                    font-family: var(--godam-video-engagement-font-family);
                    width: 100%;
                    height: 50px;
                    border: 1px solid var(--godam-video-engagement-comment--border-color);
                    border-radius: 10px;
                    padding: 10px;
                }
            }

            &-submit {
                display: flex;
            }
        }

        &-reply {
            margin-bottom: 10px;
        }

        &-button {
            border: 1px solid var(--godam-video-engagement-comment--border-color);
            padding: 7px 10px;
            border-radius: 5px;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-right: 10px;

            &:not(:disabled):hover {
                background-color: var(--wp--preset--color--black, #000);
                color: var(--wp--preset--color--white, #fff);
            }

            &.is-comment-progressing {
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0.7;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                text-align: center;
                color: transparent;

                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border: 2px solid var(--wp--preset--color--white, #fff);
                    border-top: 2px solid var(--wp--preset--color--black, #000);
                    border-radius: 50%;
                    animation: comment-loading 1s linear infinite;
                }
            }
        }
    }
}

@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes comment-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}