/*
Write your Sass code here for admin.
*/
#toplevel_page_godam .wp-submenu li:nth-child(4) { /** Hide the "Settings" submenu ***/
	display: none;
}


/* EasyDAM Tools Submenu Page */
#easydam-tools-widget .hndle {
    padding-left: 12px;
}

#easydam-tools-widget {
	margin-right: 20px;
}

$media-frame-width: calc( 300px + 2 * 24px );

.media-frame-menu {
	width: $media-frame-width;
}

.media-frame-title {
	left: $media-frame-width;
}

.media-frame-router {
	left: $media-frame-width;
}

.media-frame-content {
	left: $media-frame-width;
}

#menu-item-library {
	display: none;
}

.media-frame-menu-heading {
	display: none;
}

/**
 * CSS for custom filtering options for the media library.
 */
 #media-date-range-filter {
	display: inline-block;
	margin: 0 10px 0 0;

	font-size: 14px;
	line-height: 2;
	color: #2c3338;
	box-shadow: none;
	padding: 0 24px 0 8px;
	min-height: 30px;
	max-width: 25rem;
	vertical-align: middle;
}

#media-attachment-date-filters,
#filter-by-date,
#media-date-range-filter-start,
#media-date-range-filter-end {
	display: none !important;
}

#media-folder-filter {
	display: none !important;
}

.media-attachments-filter-heading + #media-date-range-filter {
	margin-top: 32px;
}

.daterangepicker {
	z-index: calc( 160000 + 1) !important; // for some reason media-model z-index is 160000
}

/**
 * Admin page CSS changes for the top-level EasyDAM page.
 */
.toplevel_page_godam, .godam_page_video_editor, .godam_page_help {
	--wp-admin-theme-color: #ab3a6c;

	button, a, input {
		--wp-components-color-accent: #ab3a6c;
		--wp-components-color-accent-darker-10: #9a2d5e;
		--wp-components-color-accent-darker-20: #6e2445;
	}

	.circle {
		--wp-components-color-accent: #E6533A;
	}
}
