@use "./_common"; // stylelint-disable-line scss/load-no-partial-leading-underscore
@use './variables';
@import url(https://vjs.zencdn.net/8.3.0/video-js.css);

$GREEN: #4CAF50;
$RED: #F44336;
$LIGHT_BLUE: #2196F3;

#root-easydam,
#root-video-editor,
.wc-godam-product-admin {
	--wp-components-color-accent: #ab3a6c;
}

$media-library-sidebar-bg: #fff;
$media-library-sidebar-bg-dark: #a3a3a3;
$media-library-sidebar-border: #E0E0E0;

#wpbody-content {
	container: wpBodyContent / inline-size; // stylelint-disable-line value-keyword-case
}

/*
Write your Sass code here for admin.
*/
#toplevel_page_rtgodam .wp-submenu li a[href="admin.php?page=rtgodam_analytics"] { /** Hide the "Analytics" submenu ***/
	display: none;
}

/* EasyDAM Tools Submenu Page */
#easydam-tools-widget .hndle {
	padding-left: 12px;
}

#easydam-tools-widget {
	margin-right: 20px;
}

$media-frame-width: calc(300px + 2 * 24px);

.media-frame-menu {
	width: $media-frame-width;
}

.godam-page-error {
	background: #fff;
	border: 1px solid #ccd0d4;
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 2em auto;
	padding: 2em 3em;
	max-width: 700px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

@media (max-width: 900px) {

	.media-frame-menu {
		position: absolute !important;
		width: 100% !important;
		z-index: 1000;
		background: none;
		overflow-y: auto;

		.media-menu {
			display: block !important;
			background: none !important;

			&:not(&:has(.hide-sidebar)) {
				background: $media-library-sidebar-bg !important;
			}
		}
	}

	.media-frame-menu.hide-menu {
		display: none;
	}
}

@media (max-width: 1024px) {

	.media-sidebar {
		width: 200px;
	}
}

.media-frame-title {
	left: $media-frame-width;

	h1 {
		padding: 8px 32px;
	}
}

.media-frame-router {
	left: $media-frame-width;
}

.media-frame-content {
	left: $media-frame-width;
}

/**
* Admin page CSS changes for the top-level EasyDAM page.
*/
.toplevel_page_rtgodam,
.godam_page_rtgodam_video_editor,
.godam_page_rtgodam_help,
.godam-analytics-container,
.godam-dashboard-container,
.godam-admin-root {
	--wp-admin-theme-color: #ab3a6c;

	button,
	a,
	input {

		&:not(.is-destructive) {
			--wp-components-color-accent: #ab3a6c;
			--wp-components-color-accent-darker-10: #9a2d5e;
			--wp-components-color-accent-darker-20: #6e2445;
		}
	}

	.circle {
		--wp-components-color-accent: #e6533a;
	}
}

.media-frame-menu:has(#menu-item-gallery) {

	#media-folder-toggle-button {
		top: -24px;
	}

	#rt-transcoder-media-library-root {
		height: calc(100% - 48px);
		min-height: unset;
	}
}

.media-frame-menu:has(#menu-item-gallery-edit) {

	#media-folder-toggle-button {
		top: -124px;
	}

	#rt-transcoder-media-library-root {
		height: calc(100% - 150px);
		min-height: unset;
	}
}

#menu-item-gallery, #menu-item-gallery-edit, #menu-item-gallery-library {
	$margin: 1rem;
	margin: $margin;
	width: calc( 100% - 2 * $margin);
	padding: 1rem;
	border: 1px solid $media-library-sidebar-border;
	border-radius: 3px;
}

#menu-item-cancel {
	margin-top: 1rem;
}

.media-menu .separator {
	display: none;
}

.hide-sidebar {

	.media-frame-menu {
		width: 0;
		min-width: 0;
		pointer-events: none;
		overflow: visible;
	}

	#menu-item-gallery, #menu-item-cancel, #menu-item-gallery-edit, #menu-item-gallery-library {
		display: none;
	}

	.media-selection {
		left: -180px;
	}

	.media-frame-title {
		left: 0;
	}

	.media-frame-router {
		left: 0;
	}

	.media-frame-content {
		left: 0;
	}
}

/**
* CSS for custom filtering options for the media library.
*/
#media-date-range-filter {
	display: inline-block;
	margin: 0 10px 0 0;
	margin-right: 0.5rem;
	font-size: 14px;
	line-height: 2;
	color: #2c3338;
	box-shadow: none;
	padding: 0 24px 0 8px;
	min-height: 30px;
	min-width: 8rem;
	width: 8rem;
	border: 1px solid $media-library-sidebar-bg-dark;
	vertical-align: middle;
}

.media-modal-content #media-date-range-filter {
	vertical-align: bottom;
	margin: 12px 0;
}

.transcoding-status__loader svg {
	height: 100%;
	width: 100%;
}

/**
* Media Library modal styles.
*
*/
.media-modal-content {
	border-radius: 12px;

	&:has(#menu-item-godam[aria-selected="true"]) {

		#media-date-range-filter {
			display: none;
		}

		#rt-transcoder-media-library-root {
			opacity: 0.3;
			pointer-events: none;
		}
	}

	.media-selection {
		left: 150px;
	}

	.media-frame-menu-heading {
		display: none;
	}

	.media-frame-router {
		top: 104px;
		padding: 0 24px;
	}

	.media-frame-content {
		top: 138px;

		.attachments-browser {
			container-type: inline-size;
		}

		.attachments-wrapper {
			$margin: 24px;
			margin: $margin;
			width: calc(100% - 300px - 2 * $margin);
		}

		.media-frame-toolbar {
			left: 0;
		}

		.media-toolbar {
			$toolbar-margin: 16px;
			border: none;
			border-radius: 4px;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			width: calc(100% - 300px - 2 * $toolbar-margin);

			#media-search-input {
				background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNy45NTY0M0MxIDkuODAxMzkgMS43MzI5MSAxMS41NzA4IDMuMDM3NDkgMTIuODc1NEM0LjM0MjA4IDE0LjE4IDYuMTExNDcgMTQuOTEyOSA3Ljk1NjQzIDE0LjkxMjlDOS44MDEzOSAxNC45MTI5IDExLjU3MDggMTQuMTggMTIuODc1NCAxMi44NzU0QzE0LjE4IDExLjU3MDggMTQuOTEyOSA5LjgwMTM5IDE0LjkxMjkgNy45NTY0M0MxNC45MTI5IDYuMTExNDcgMTQuMTggNC4zNDIwOCAxMi44NzU0IDMuMDM3NDlDMTEuNTcwOCAxLjczMjkxIDkuODAxMzkgMSA3Ljk1NjQzIDFDNi4xMTE0NyAxIDQuMzQyMDggMS43MzI5MSAzLjAzNzQ5IDMuMDM3NDlDMS43MzI5MSA0LjM0MjA4IDEgNi4xMTE0NyAxIDcuOTU2NDNaIiBzdHJva2U9IiM1MjUyNTIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTYuOTk5NSAxNi45OTk1TDEyLjg3NSAxMi44NzUiIHN0cm9rZT0iIzUyNTI1MiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
				background-repeat: no-repeat;
				background-size: 16px 16px;
				background-position: 10px center;
				padding-left: 36px;
			}

			.media-search-input-label {
				position: relative;
				top: auto;
				margin-right: 8px;
			}

			input, select, button {
				height: 40px;
				margin: 12px 0;
				border-radius: 4px;
				display: flex;
				align-items: center;
				width: 100%;
				max-width: 10rem;
			}

			.media-toolbar-secondary {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 1rem;
				row-gap: 0;

				.media-grid-view-switch {
					display: flex;
					margin: auto 0;
				}
			}

			.media-toolbar-primary {
				display: flex;
				align-items: center;
				margin: 0 0 0 auto;

				.media-search-input-label {
					display: none;
				}
			}

			button.hidden {
				display: none;
			}

			.attachment-filters {
				margin: 0;
				max-width: 8rem;
			}

			.media-attachments-filter-heading {
				display: none;
			}
		}

		@container (max-width: 800px) {

			.media-toolbar {
				flex-direction: column;
				align-items: stretch;

				.media-toolbar-secondary {
					max-width: 100%;
					width: 100%;
					flex-wrap: wrap;
				}

				.media-toolbar-primary {
					max-width: 100%;
					width: 100%;
					flex-wrap: wrap;
					margin: 0;
				}
			}

			.attachments-wrapper {
				top: 140px;
			}
		}

		@media (max-width: 1200px) {

			.media-toolbar {
				$toolbar-margin: 32px;
				width: calc(100% - 267px - 2 * $toolbar-margin);
				height: auto;

				.attachment-filters {
					margin: 0.75rem 0;
				}
			}
		}

		@media (max-width: 1024px) {

			.media-toolbar {
				$toolbar-margin: 32px;
				width: calc(100% - 200px - 2 * $toolbar-margin);
			}

			.attachments-wrapper {
				$attachment-wrapper-margin: 24px;
				width: calc(100% - 240px - 2 * $attachment-wrapper-margin);
			}
		}

		@media (max-width: 640px) {

			.media-toolbar {
				$toolbar-margin: 32px;
				width: calc(100% - 2 * $toolbar-margin);
			}

			.attachments-wrapper {
				$attachment-wrapper-margin: 24px;
				width: calc(100% - 2 * $attachment-wrapper-margin);
			}
		}
	}

	.edit-attachment-frame {

		.media-frame-content {
			top: 102px;
		}
	}

	.media-frame.hide-router .media-frame-content {
		top: 100px;
	}

	.button {
		border: 1px solid $media-library-sidebar-bg-dark;
		border-radius: 0.25rem;
		color: #1c1c1c;
		background-color: $media-library-sidebar-bg;

		svg {
			padding-right: 0.5rem;
		}

		&:focus {
			color: #000;
			border-color: #000;
		}

		&.media-frame-menu-toggle {
			display: none !important;
		}
	}

	.media-frame-tab-panel {

		.attachment-actions {

			.button {
				background: linear-gradient(83.85deg, #AB3A6C -9.3%, #E6533A 120.31%);
					border-radius: 0.25rem;
					border: none;
					color: $media-library-sidebar-bg;
					padding: 6px 8px;
			}
		}

		.media-menu-item.active {
			border: none !important;
			border-bottom: 2px solid #AB3A6C !important;
		}
	}

}

#menu-item-library, #menu-item-featured-image {
	display: none;
}

.search-form {

	label {
		white-space: nowrap;
	}
}

#media-attachment-date-filters,
#filter-by-date,
#media-date-range-filter-start,
#media-date-range-filter-end {
	display: none !important;
}

#media-folder-filter {
	display: none !important;
}

.daterangepicker {
	z-index: calc(160000 + 1) !important; // for some reason media-model z-index is 160000
}

/**
* Transcoding status bar for media library styles.
*/
.transcoding-status {
	position: relative;

	&__loader {
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		max-width: 1.5rem;
		min-width: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		top: 0.75rem;
		right: 0.75rem;
		background-color: #fff;
		padding: 2px;
		border-radius: 50%;

		--status-text: "Not Started";

		&__progress {
			transform: rotate(-90deg); /* Rotates the circle so progress starts from top */
			width: 100%;
			height: 100%;
			transition: transform 0.2s ease;

			circle {
				fill: none;
				stroke-width: 2;

				&.background {
					stroke: #98c8e2;
				}

				&.progress {
					stroke: rgb(0, 69, 114);
					transition: stroke-dashoffset 0.5s ease;

					/* To Hide the progress bar initially we have to set the stroke-dashoffset to the circumference of the circle */
					stroke-dasharray: 100;
					stroke-dashoffset: 100;
				}
			}
		}

		&::after {
			content: var(--status-text, "");
			max-width: 300px;
			width: 400%;
			position: absolute;
			top: calc(100% + 0.25rem);
			right: 0;
			background-color: #333;
			color: #fff;
			padding: 0.25rem 0.5rem;
			border-radius: 0.25rem;
			font-size: 0.75rem;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			opacity: 0;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	&--completed {

		.transcoding-status__loader {
			--status-text: "Transcoded";

			svg {
				fill: $GREEN;
			}
		}
	}

	&--failed {

		.transcoding-status__loader {
			--status-text: "Transcoding Failed";

			svg {
				fill: $RED;
			}
		}
	}

	&--not-started {

		.transcoding-status__loader {
			--status-text: "Not Transcoded, Bulk Select to Transcode";

			svg {
				fill: $LIGHT_BLUE;
			}
		}
	}
}

/* override list view specific styles */
.transcoding-status-list {

	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;

	.transcoding-status__loader {
		position: unset;

		&::after {
			$padding: 0.5rem;
			width: calc(100% - 2 * $padding);
		}
	}
}

.rt-godam-modal {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 30px;
	border-radius: 20px;
	position: fixed;
	width: 400px;
	height: auto;
	background: #fff;
	top: 25%;
	left: 0%;
	margin: auto auto;
	bottom: auto;
	right: 0;
	box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);

	.button-container {
		display: flex;
		justify-content: space-between;

		.submit-feedback {
			border: none;
			background-color: #ab3a6c;
			color: #fff;
			padding: 5px 12px;
			border-radius: 4px;
			cursor: pointer;

			&:disabled {
				background-color: #959292;
			}
		}

		.skip-feedback,
		.cancel-deactivation {
			border: 1px solid #ebebeb;
			border-radius: 3px;
			color: #718096;
			padding: 5px 12px;
			cursor: pointer;
			background-color: transparent;
			text-decoration: none;

			a {
				color: #718096;
				text-decoration: none;
			}
		}
	}

	textarea {
		height: 100px;
	}
}

.rt-godam-modal-wrapper {
	position: absolute;
	min-height: 100%;
	height: 100vh;
	z-index: 10000;
	top: 0;
	left: -20px;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.godam-notice-header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.godam-logo {
	width: 150px;
	height: auto;
	margin: 20px;
}

.godam-notice-content {
	flex: 1;
}

.rtgodam-hidden {
	display: none !important;
}

.gf-godam-video-preview {

	figure {
		margin: 0;
	}
}

.godam_no_license {

	pointer-events: none;
	opacity: 0.5;
}

.godam-locked-input-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;

	input[type="text"] {
		padding-right: 35px;
		width: 100%;
	}

	.godam-lock-icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		font-size: 18px;
		color: #ab3a6c;
	}
}

/*
Video Editor and Media Library's Annual plan offer banner styles

@todo: Remove container queries when the media-library static sidebar is converted to an overlay sidebar
to ensure proper responsiveness and avoid layout issues.
*/
.annual-plan-offer-banner {
	border: none;
	margin: 0;
	margin-left: -2rem;
	padding: 0;
	background: #000;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 0 !important;

	&__link {
		display: block;
		width: 100%;
		max-height: 200px;
		overflow: hidden;
		box-shadow: 0 20px 45px rgba(20, 12, 27, 0.25);
		position: relative;
	}

	&__image {
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 130px;
		object-fit: contain;
		margin: 0 auto; // Center horizontally
	}

	&__dismiss {
		position: absolute;
		top: 8px;
		right: 10px;
		background: rgba(0, 0, 0, 0.35);
		border: none;
		color: #fff;
		font-size: 1.5rem;
		cursor: pointer;
		padding: 0.1rem 0.5rem 0.3rem 0.5rem;
		line-height: 1;
		z-index: 10;
		border-radius: 4px;
		transition: background 0.3s ease;

		&:hover {
			background-color: #fff;
			color: variables.$godam-primary-text-color;
		}
	}
}

.compat-attachment-fields {

	td.field {
		$wp-td-field-margin: 1px;
		width: calc(100% - 2 * $wp-td-field-margin);
	}
}

/* stylelint-disable-next-line no-descending-specificity */
.godam-product-timestamp-input input:focus {
	box-shadow: 0 0 0 0.7px #ab3a6c;
	border-color: #ab3a6c;
}

.godam-admin-video-add-to-product-container {

	.vjs-control.vjs-custom-play-button {
		width: auto !important;

		@media screen and (max-width: 768px) {
			display: none;
		}

		#branding-icon {
			height: 100%;
			width: auto;
			object-fit: fill;
		}
	}
}

.godam-product-admin-video-spinner-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;

	.godam-product-admin-video-spinner {
		width: 50px;
		height: 50px;
		border: 5px solid rgba(255, 255, 255, 0.3);
		border-top: 5px solid #ab3a6c;
		border-radius: 50%;
		animation: spin 1s linear infinite;
	}

	@keyframes spin {

		from { transform: rotate(0deg); }

		to { transform: rotate(360deg); }
	}
}
