
@import "_common"; // stylelint-disable-line scss/load-no-partial-leading-underscore

$GREEN: #4CAF50;
$RED: #F44336;
$LIGHT_BLUE: #2196F3;

#root-easydam,
#root-video-editor {
	--wp-components-color-accent: #ab3a6c;
}


/*
Write your Sass code here for admin.
*/
#toplevel_page_rtgodam .wp-submenu li:nth-child(4) { /** Hide the "Settings" submenu ***/
	display: none;
}

/* EasyDAM Tools Submenu Page */
#easydam-tools-widget .hndle {
	padding-left: 12px;
}

#easydam-tools-widget {
	margin-right: 20px;
}

$media-frame-width: calc(300px + 2 * 24px);

.media-frame-menu {
	width: $media-frame-width;
}

.media-frame-title {
	left: $media-frame-width;
}

.media-frame-router {
	left: $media-frame-width;
}

.media-frame-content {
	left: $media-frame-width;
}

#menu-item-library {
	display: none;
}

.media-frame-menu-heading {
	display: none;
}

.search-form {

	label {
		white-space: nowrap;
	}
}

/**
 * CSS for custom filtering options for the media library.
 */
#media-date-range-filter {
	border: 1px solid #8c8f94;
	border-radius: 3px;
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 14px;
	line-height: 2;
	color: #2c3338;
	box-shadow: none;
	padding: 0 24px 0 8px;
	min-height: 30px;
	max-width: 10rem;
	vertical-align: middle;
}

.media-modal-content #media-date-range-filter {
	vertical-align: bottom;
}

#media-attachment-date-filters,
#filter-by-date,
#media-date-range-filter-start,
#media-date-range-filter-end {
	display: none !important;
}

#media-folder-filter {
	display: none !important;
}

.media-attachments-filter-heading + #media-date-range-filter {
	margin-top: 32px;
}

.daterangepicker {
	z-index: calc(160000 + 1) !important; // for some reason media-model z-index is 160000
}

/**
 * Admin page CSS changes for the top-level EasyDAM page.
 */
.toplevel_page_rtgodam,
.godam_page_rtgodam_video_editor,
.godam_page_rtgodam_help,
.godam-analytics-container
.godam-dashboard-container {
	--wp-admin-theme-color: #ab3a6c;

	button,
	a,
	input {

		&:not(.is-destructive) {
			--wp-components-color-accent: #ab3a6c;
			--wp-components-color-accent-darker-10: #9a2d5e;
			--wp-components-color-accent-darker-20: #6e2445;
		}
	}

	.circle {
		--wp-components-color-accent: #e6533a;
	}
}

/**
 * Transcoding status bar for media library styles.
 */
.transcoding-status {
	position: relative;

	&__loader {
		position: absolute;
		width: 1.5rem;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		top: 0.75rem;
		right: 0.75rem;
		background-color: #fff;
		padding: 2px;
		border-radius: 50%;

		--status-text: "Not Started";

		&__progress {
			transform: rotate(-90deg); /* Rotates the circle so progress starts from top */
			width: 100%;
			height: 100%;
			transition: transform 0.2s ease;

			circle {
				fill: none;
				stroke-width: 2;

				&.background {
					stroke: #98c8e2;
				}

				&.progress {
					stroke: rgb(0, 69, 114);
					transition: stroke-dashoffset 0.5s ease;

					/* To Hide the progress bar initially we have to set the stroke-dashoffset to the circumference of the circle */
					stroke-dasharray: 100;
					stroke-dashoffset: 100;
				}
			}
		}

		&::after {
			content: var(--status-text, "");
			max-width: 300px;
			width: 400%;
			position: absolute;
			top: calc(100% + 0.25rem);
			right: 0;
			background-color: #333;
			color: #fff;
			padding: 0.25rem 0.5rem;
			border-radius: 0.25rem;
			font-size: 0.75rem;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			opacity: 0;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	&--completed {

		.transcoding-status__loader {
			--status-text: "Transcoded";

			svg {
				fill: $GREEN;
			}
		}
	}

	&--failed {

		.transcoding-status__loader {
			--status-text: "Transcoding Failed";

			svg {
				fill: $RED;
			}
		}
	}

	&--not-started {

		.transcoding-status__loader {
			--status-text: "Not Transcoded, Bulk Select to Transcode";

			svg {
				fill: $LIGHT_BLUE;
			}
		}
	}
}


.rt-godam-modal {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 30px;
	border-radius: 20px;
	position: fixed;
	width: 400px;
	height: auto;
	background: #fff;
	top: 25%;
	left: 0%;
	margin: auto auto;
	bottom: auto;
	right: 0;
	box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);

	.button-container {
		display: flex;
		justify-content: space-between;

		.submit-feedback {
			border: none;
			background-color: #ab3a6c;
			color: #fff;
			padding: 5px 12px;
			border-radius: 4px;
			cursor: pointer;

			&:disabled {
				background-color: #959292;
			}
		}

		.skip-feedback,
		.cancel-deactivation {
			border: 1px solid #ebebeb;
			border-radius: 3px;
			color: #718096;
			padding: 5px 12px;
			cursor: pointer;
			background-color: transparent;
			text-decoration: none;

			a {
				color: #718096;
				text-decoration: none;
			}
		}
	}

	textarea {
		height: 100px;
	}
}

.rt-godam-modal-wrapper {
	position: absolute;
	min-height: 100%;
	height: 100vh;
	z-index: 10000;
	top: 0;
	left: -20px;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.godam-notice-header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.godam-logo {
	width: 150px;
	height: auto;
	margin: 20px;
}

.godam-notice-content {
	flex: 1;
}

.rtgodam-hidden {
	display: none !important;
}

.gf-godam-video-preview {

	figure {
		margin: 0;
	}
}

.godam_no_license {

	pointer-events: none;
	opacity: 0.5;
}