.godam-bubble-skin {
	  // control bar styles
  
	  .vjs-control-bar {
			background-color: transparent !important;
			flex-direction: row-reverse;
			margin: 0 auto;
  
			// Force controls except seek bar into a column
			button:not(.vjs-progress-control):not(.vjs-play-progress):not(.vjs-load-progress), div.vjs-subs-caps-button, .vjs-settings-button{
			  display: flex;
			  background-color: var(--vjs-brand-color, #000000AD) !important;
			  border-radius: 80px;
			  padding: 19px;
			  align-items: center;
			  justify-content: center;
			  position: absolute;
  
			  &:hover {
				background: #1C1C1C;
			  }
		  }

		  .vjs-control, .vjs-settings-button {
			padding: 20px 30px !important;
			border-radius: 80px !important;

			span::before {
				font-size: 1.7em;
				line-height: 2.3;
			}
		}

		  .vjs-progress-control {
				background: #000000AD;
				border-radius: 80px;
				padding: 24px 40px;
			}
  
			.vjs-seek-to-live-control, .vjs-remaining-time, .vjs-picture-in-picture-control, [class^="vjs-skip-backward"], [class^="vjs-skip-forward"], .vjs-custom-play-button {
			  display: none !important;
			}
  
			.vjs-volume-panel {
			  flex-direction: row-reverse;
			  bottom: 10px;
			  align-items: center;
			  left: 0px;
			  position: absolute;
		  }
  
		  .vjs-volume-control.vjs-control.vjs-volume-horizontal {
			    background: #1C1C1C;
				padding: 0px 6px !important;
				border-radius: 80px !important;
				height: 2.5em !important;
				width: 7em !important;
				margin-left: 55px !important;
				position: absolute;
				left: 18px;
				display: flex;
				align-items: center;
			  	filter: contrast(0.8);
  
				&:hover {
					filter: contrast(1);
				}
		  }
  
			// Stack buttons vertically from bottom up with 10px gap
		.vjs-play-control, .vjs-fullscreen-control {
			bottom: 10px;
		}

		.vjs-fullscreen-control, .vjs-settings-button {
			right:8px;
		}

		.vjs-mute-control, .vjs-play-control, div.vjs-subs-caps-button {
			left:8px;
		}
  
		.vjs-volume-panel, .vjs-button.godam-share-button {
			bottom: 60px;
		}
  
		  div.vjs-subs-caps-button{
			  bottom: 108px;
  
			  .vjs-menu {
				  bottom: -7em;
				  left: 7em;
  
				  &::before {
					border-bottom: 6px solid transparent;
					border-right: 7px solid #1c1c1c;
					border-top: 6px solid transparent;
					content: "";
					position: absolute;
					left: -7px;
					bottom: 68px;
					}
			  }
		  }
  
		  .vjs-icon-placeholder:before {
			  line-height: 2;
		  }

		  .vjs-duration {
			position: absolute;
			display: inline !important;

			.vjs-duration-display {
				position: absolute;
				bottom: 25px;
				right: 83px;
				z-index: 99;
			}
		}

		.vjs-current-time {
			position: absolute;
			left: 50px;
			display: inline !important;
			.vjs-current-time-display {
				position: absolute;
				left: 34px;
				bottom: 25px;
				z-index: 99;
			}
		}

  
	  .vjs-progress-control {
			order: 1;
			transform: translateY(-50%);
			max-width: 77%;
			margin: 0 auto;
			background-color: var(--vjs-brand-color, #000000AD) !important;
  
			&:hover {
			  transform: translateY(-50%);
		  }
		}

		.vjs-settings-button {
			bottom: 108px;
			.vjs-menu {
				bottom: -25px;
    			left: -11em;
			}
		}

		.vjs-menu-content {
			background-color: #1C1C1C !important;
			color: #fff;
			border-radius: 4px;
			display: flex;
			gap: 8px;
			padding: 4px 0;
			flex-direction: column;
			
			li {
				padding: 0px;
				font-size: 12px;
				height: 24px;
			}
	
			.master-settings-back-icon {
				display: none;
			}

			.vjs-back-item {
				padding-top: 8px;
			}

			.vjs-menu-item:hover {
				font-weight: 900;
				background-color: unset !important;
				color: #cdc5c5 !important;
			}
	
			span::before {
				font-size: 1.2em !important;
    			line-height: 2 !important;
			}
	
			.godam-back-item-container::after{
				top: 32.5px;
				height: 1px;
			}
		}

		.vjs-volume-control.vjs-control.vjs-volume-horizontal {
			padding: 0px !important;
			border-radius: 80px !important;
		}

		.vjs-button.godam-share-button{
			bottom: 60px;
			right: 8px;
			top: unset;
			border-radius: 80px;
			height: 2rem;
			width: 3.7rem;
			padding: 19px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			cursor: not-allowed;
			pointer-events: auto;
			background-color: var(--vjs-brand-color, #000000AD) !important;
	
			&:hover {
				background: #1C1C1C;
			}
	
			img {
				height: 12px;
			}
		}
	}

  
}