// Styles for the GoDAM video embed page
// This page is designed to be embedded in iframes/modals

body.godam-embed-page {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

.video-not-found {
    text-align: center;
    padding: 3rem 0.5rem;
    font-size: 1.5rem !important;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #000;
}

.godam-video-embed {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

    &--container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
    }

    // Ensure video player takes full available space
    figure {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .video-js {
        width: 100% !important;
        height: 100% !important;
    }

	.srfm-form-container {
		height: auto;

		.srfm-form {
			margin-block-end: 0;

			.srfm-submit-button .srfm-submit-wrap {
				height: auto;
			}
		}
	}
}

