@import 'godam-video-popup';

.godam-woocommerce-featured-video-modal-container{
	.video-js,.vjs-tech{
		object-fit: cover !important;
	}
}

.woocommerce-product-gallery .godam-video-thumbnail{
	aspect-ratio: 1 / 1 !important;
    object-fit: cover;
    object-position: center;
}

