/**
 * global CSS for the media library.
 */

$sidebar-width: 280px;
$media-library-sidebar-bg: #fff;
$media-library-sidebar-fg: #1c1c1c;
$media-library-sidebar-bg-dark: #a3a3a3;
$media-library-active-folder: #f5f5f5;

.upload-php .godam-button { // Only apply to the media library page.
	position: relative;
	top: 9px;
	font-weight: 400;

	&.disable {
		opacity: 0.5;
	}

	.godam-icon {
		width: 18px;
		height: 18px;
		display: inline-block;
		position: relative;
		top: 3px;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuODkwNzIgOC4xMjIzMkw0LjA1Njc1IDEzLjk1NjNMMi41MjYxMiAxMi40MjU3QzEuNjQ0MyAxMS41NDM4IDIuMDY1NDkgMTAuMDM2NSAzLjI3ODg5IDkuNzQwNzdMOS44OTI1MSA4LjEyNDExTDkuODkwNzIgOC4xMjIzMloiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcl83Nl85NikiLz4KPHBhdGggZD0iTTE3LjE2MzkgOC43MjA4NkwxNi41NTI4IDExLjIyMTFMOC45MzcyNCAxOC44MzY3TDUuMTI1IDE1LjAyNDRMMTIuNzYwMiA3LjM4OTE3TDE1LjIyODMgNi43ODUxN0MxNi4zOTUgNi41MDAxOSAxNy40NDg5IDcuNTU0MDcgMTcuMTYyMiA4LjcxOTA3TDE3LjE2MzkgOC43MjA4NloiIGZpbGw9InVybCgjcGFpbnQxX2xpbmVhcl83Nl85NikiLz4KPHBhdGggZD0iTTE1Ljg3MzUgMTQuMTI2NUwxNC4yNjA0IDIwLjcyMjJDMTMuOTYyOSAyMS45MzM4IDEyLjQ1NTYgMjIuMzU1IDExLjU3MzggMjEuNDczMkwxMC4wNTAzIDE5Ljk0OTdMMTUuODczNSAxNC4xMjY1WiIgZmlsbD0idXJsKCNwYWludDJfbGluZWFyXzc2Xzk2KSIvPgo8ZGVmcz4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDBfbGluZWFyXzc2Xzk2IiB4MT0iMi40NzQ4OCIgeTE9IjEyLjg3NjYiIHgyPSI4LjU1OTk2IiB5Mj0iNi43OTE1NSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjQUIzQTZDIi8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI0U2NTMzQSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MV9saW5lYXJfNzZfOTYiIHgxPSI2LjYxMjk0IiB5MT0iMTcuMzQ4NyIgeDI9IjE2Ljc0NjgiIHkyPSI3LjIxNDg3IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiNBQjNBNkMiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRTY1MzNBIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQyX2xpbmVhcl83Nl85NiIgeDE9IjExLjEyODEiIHkxPSIyMS41Mjg4IiB4Mj0iMTcuMjAyIiB5Mj0iMTUuNDU0OSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjQUIzQTZDIi8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI0U2NTMzQSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8L2RlZnM+Cjwvc3ZnPgo=);
		background-size: contain;
	}
 }

.button.godam-button {
	margin: 0 0.5rem;

	@media (max-width:780px) {
		padding: 6px 15px;
		top: -4px;
		margin: 0.5rem;
	}
}

#godam-snackbar {
	visibility: hidden;
	min-width: 250px;
	background: #cc1818;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	position: fixed;
	right: 40px;
	bottom: 35px;
	z-index: 999999;
	font-size: 14px;
}

#godam-snackbar.show {
	visibility: visible;
	animation: godam-snackbar-fadein 0.3s, godam-snackbar-fadeout 0.3s 2.7s;
}

@keyframes godam-snackbar-fadein {

	from { bottom: 0; opacity: 0; }

	to   { bottom: 30px; opacity: 1; }
}

@keyframes godam-snackbar-fadeout {

	from { bottom: 30px; opacity: 1; }

	to   { bottom: 0; opacity: 0; }
}

.vjs-poster img {
	background-color: #000;
}

.custom-thumbnail-container {
	display: flex;
	flex-direction: column;
	gap: 6px;

	.controls {
		position: absolute;
		left: 0;
		fill: #000;

		.custom-thumbnail-control {
			border: none;
			cursor: pointer;
			position: absolute;
			top: 4px;
			left: 4px;
			width: 15px;
			height: 24px;
			background: #ffffffc7;
			border-radius: 50%;
			color: #fff;
			font-size: 16px;
			text-align: center;
			transition: transform 0.2s ease;
			z-index: 10;
			display: flex;
			align-items: center;
			box-shadow: 0 1px 3px 0 #6c5e5e;

			svg {
				fill: #cc1818;
			}

			&:hover {
				cursor: pointer;
				transform: scale(1.1);
				background: #fff;
			}
		}
	}
}

.elementor-editor-active .attachments-browser #media-date-range-filter {
	background-color: unset;
}

#posts-filter {
	padding: 1rem;

	.wp-filter {
		display: flex;
		justify-content: space-between;
	}

	@media (max-width: 1000px) {

		.wp-filter {
			flex-direction: column;
		}
	}
}

#wpwrap:has( #rt-transcoder-media-library-root ) {
	background: $media-library-active-folder;

	.subtitle {
		display: block;
		margin: 0 0.5rem;

		@media (max-width: 900px) {
			margin: 0;
		}
	}

	.godam-button {
		padding: 6px 8px;
		top: 4px;
		margin-left: 0.75rem;
		margin-bottom: 20px;
		border: 1px solid $media-library-sidebar-bg-dark;
		border-radius: 0.25rem;
		color: $media-library-sidebar-fg;
		background-color: $media-library-sidebar-bg;

		@media (max-width: 900px) {
			padding: 3px 8px;
			top: 6px;
			margin: 0;
			margin-left: 0.75rem;
			margin-bottom: 20px;
		}
	}

	.media-frame {
		background: $media-library-active-folder;
		height: 100%;
	}

	#wp-media-grid, .wrap:has(#posts-filter) {
		$top-margin: 12px;
		margin: $top-margin 0 0 0;
		height: calc(100% - $top-margin);
	}

	.wp-heading-inline {
		margin: 0 24px;
		padding: 9px 0 20px;
	}

	.page-title-action {
		border-radius: 0.25rem;
		padding: 6px 8px;
		top: -2px;
	}

	.media-frame-content {
		padding: 1rem 1.5rem;
	}

	.wp-filter {
		border-radius: 4px;
		display: flex;
		flex-wrap: wrap;
		gap: 12px 0;
		padding: 6px 10px;

		#media-search-input {
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNy45NTY0M0MxIDkuODAxMzkgMS43MzI5MSAxMS41NzA4IDMuMDM3NDkgMTIuODc1NEM0LjM0MjA4IDE0LjE4IDYuMTExNDcgMTQuOTEyOSA3Ljk1NjQzIDE0LjkxMjlDOS44MDEzOSAxNC45MTI5IDExLjU3MDggMTQuMTggMTIuODc1NCAxMi44NzU0QzE0LjE4IDExLjU3MDggMTQuOTEyOSA5LjgwMTM5IDE0LjkxMjkgNy45NTY0M0MxNC45MTI5IDYuMTExNDcgMTQuMTggNC4zNDIwOCAxMi44NzU0IDMuMDM3NDlDMTEuNTcwOCAxLjczMjkxIDkuODAxMzkgMSA3Ljk1NjQzIDFDNi4xMTE0NyAxIDQuMzQyMDggMS43MzI5MSAzLjAzNzQ5IDMuMDM3NDlDMS43MzI5MSA0LjM0MjA4IDEgNi4xMTE0NyAxIDcuOTU2NDNaIiBzdHJva2U9IiM1MjUyNTIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTYuOTk5NSAxNi45OTk1TDEyLjg3NSAxMi44NzUiIHN0cm9rZT0iIzUyNTI1MiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
			background-repeat: no-repeat;
			background-size: 16px 16px;
			background-position: 10px center;
			padding-left: 36px;
		}

		.actions {
			display: flex;
			gap: 0.75rem;
		}

		.button {
			border-radius: 0.25rem;
			background-color: $media-library-sidebar-bg;

			svg {
				padding-right: 8px;
			}
		}

		.filter-items {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.75rem;
			row-gap: 0;
			margin: 0;

			> * {
				flex: 1;
			}

			.view-switch {
				flex: 0;
				display: flex;
			}

			.media-grid-view-switch {
				display: flex;
				margin: auto 0;
			}
		}

		.search-form {

			.search-box {
				margin: 0;
			}
		}

		input, select, button {
			height: 40px;
			border-radius: 4px;
			display: flex;
			align-items: center;
		}

		button.hidden {
			display: none;
		}
	}


	.media-toolbar.wp-filter {
		border: none;
		border-radius: 4px;
		display: flex;
		flex-wrap: wrap;
		padding: 0 10px;

		.button {
			border: 1px solid $media-library-sidebar-bg-dark;
			border-radius: 0.25rem;
			color: $media-library-sidebar-fg;
			background-color: $media-library-sidebar-bg;

			svg {
				padding-right: 8px;
			}
		}

		.media-toolbar-secondary {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.75rem;
			row-gap: 0;

			> * {
				flex: 1;
			}

			.media-grid-view-switch {
				display: flex;
				margin: auto 0;
				flex: 0;
			}
		}

		.media-toolbar-primary {
			display: flex;
			align-items: center;
			margin: auto;
			margin-right: 0;

			.media-search-input-label {
				display: none;
			}
		}

		input, select, button {
			height: 40px;
			margin: 12px 0;
			border-radius: 4px;
			border: 1px solid $media-library-sidebar-bg-dark;
			display: flex;
			align-items: center;
		}

		button.hidden {
			display: none;
		}
	}

	@media (max-width: 1200px) {

	  .media-toolbar {
		flex-direction: column;
		align-items: stretch;
		gap: 0;
	  }

	  .media-toolbar-secondary,
	  .media-toolbar-primary {
			max-width: 100%;
			width: 100%;
			flex-wrap: wrap;
		}
	}

	#media-date-range-filter {
		width: 100%;
	}

	@media (min-width: 900px) {

		#wpbody {

			> #rt-transcoder-media-library-root {
				height: 100vh;
				width: $sidebar-width;
				background-color: $media-library-sidebar-bg;

				&.hide-sidebar {
					border: none;
				}
			}

			#wpbody-content {
				margin-left: $sidebar-width;
			}

			&:has(#rt-transcoder-media-library-root.hide-sidebar) #wpbody-content {
				margin-left: 0;
			}
		}

		#wpfooter {

			/* 160px is the default WordPress sidebar width */
			margin-left: calc($sidebar-width + 160px);
		}
	}

	#the-list .row-actions {
		margin-left: 0;
	}
}

#wpbody:has( #rt-transcoder-media-library-root ){
	display: flex;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#wpcontent:has( #rt-transcoder-media-library-root ) {
	padding-left: 0 !important;
}

.media-library-bulk-actions {

	&.hidden {
		display: none;
	}
}

#wpbody {

	> #rt-transcoder-media-library-root {
		position: fixed !important;
		z-index: 1000;
		width: 100%;
		height: 100vh;

		&.hide-sidebar {
			width: 0 !important;
			border: none !important;
		}
	}
}

/**
 * EXIF data styles.
 */
.exif-details {

	h4 {
		margin-top: 16px;
		margin-bottom: 4px;
	}

	ul {
		margin: 0;

		li {
			margin-bottom: 0;
		}
	}
}

.attachment-compat {

	.compat-field-oembed_url {

		label span {
			text-align: left;
		}
	}
}

/**
 * Attachment Thumbnail styles.
 */
.attachment-actions {

	.attachment-video-actions {
		display: flex;
		justify-content: start;
		gap: 0.5rem;
		margin-bottom: 0.5rem;

		/* stylelint-disable-next-line no-descending-specificity */
		.button {
			font-size: .75rem;
			padding: .5rem 1rem;
			text-transform: uppercase;
			font-weight: 700;
			transition: transform 0.2s ease;

			/* stylelint-disable-next-line no-descending-specificity */
			&:hover {
				transform: scale(1.1);
			}

			&-primary {
				background: linear-gradient(90deg, #AB3A6C 0%, #E6533A 100%);
				border: none;
				color: #fff;
			}

			&-secondary {
				-webkit-text-fill-color: #0000;
				background: linear-gradient(90deg, #AB3A6C 0%, #E6533A 100%);
				background-clip: text;
				-webkit-background-clip: text;
				outline: .0625rem solid #ab3a6c;
				outline-offset: -.0625rem;
				overflow: hidden;
			}
		}

		.paid-feature {
			position: relative;

			.button {

				&-secondary {

					transition: all 0.2s ease;

					&:hover {
						transform: scale(1);
						background: linear-gradient(90deg, #AB3A6C 0%, #E6533A 100%);
						color: #fff;
						-webkit-text-fill-color: #fff
					}
				}
			}

			span {
				position: absolute;
				right: -8px;
				top: -8px;
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1rem;
				background: linear-gradient(90deg, #AB3A6C 0%, #E6533A 100%);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				color: #fff;
			}
		}
	}
}

.attachment-video-thumbnails {

	h4 {
		text-align: left;
		margin: 0;
	}

	ul {
		display: flex;
		gap: 1rem;
		overflow-x: auto;
		padding: 0.5rem 0;
		list-style: none;
		margin: 0;

		li {
			flex: 0 0 auto;
			cursor: pointer;
			transition: transform 0.2s ease, box-shadow 0.2s ease;
			position: relative;
			border-radius: 8px;
			overflow: hidden;
			height: 72px;

			img {
				display: block;
				border-radius: 4px;
				object-fit: contain;
				transition: opacity, transform 0.2s ease;
				width: 8rem;
				background-color: #000;
				height: 100%;
			}

			&.selected {
				border: 4px solid #007bff;

				&::after {
					content: "\2714";
					position: absolute;
					top: 4px;
					right: 4px;
					width: 24px;
					height: 24px;
					background-color: #007bff;
					color: #fff;
					font-size: 16px;
					font-weight: 700;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
				}
			}

			&:hover img {
				transform: scale(1.1);
			}

		}
	}
}

.upload-thumbnail-tile {
	border: 2px dashed #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	position: relative;
	cursor: pointer;
	height: 72px;
}

.custom-thumbnail-media-upload {
	background: unset;
	border: unset;

	.upload-label {
		display: none;
	}
}

.plus-icon {
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	cursor: pointer;
}

.thumbnail-spinner-container {
	width: 100%;
	height: 76px;

	.thumbnail-spinner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		box-sizing: border-box;
	}

	.thumbnail-spinner::after {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		border: 4px solid #f3f3f3;
		border-top: 4px solid #AB3A6C;
		border-radius: 50%;
		animation: spin 1s linear infinite;
	}

	@keyframes spin {

		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}

.mejs-poster {
	background-size: 0;
	background-color: rgb(0, 0, 0);
}

.edit-attachment-frame .attachment-info {
	height: auto;
}

/**
 * Ensure the media library preview error overlay doesn't cover any elements.
 */
.mejs-overlay.mejs-layer {
	overflow: auto;
}
