/**
 * CSS for custom filtering options for the media library.
 */
#media-date-range-filter {
	display: inline-block;
	margin: 0 10px 0 0;

	font-size: 14px;
	line-height: 2;
	color: #2c3338;
	box-shadow: none;
	padding: 0 24px 0 8px;
	min-height: 30px;
	max-width: 25rem;
	vertical-align: middle;
}

#media-attachment-date-filters,
#filter-by-date,
#media-date-range-filter-start,
#media-date-range-filter-end {
	display: none !important;
}

#media-folder-filter {
	display: none !important;
}

/**
 * Transcoding status bar for media library styles.
 */
.attachment-preview {

	position: relative;

	.transcoder-progress-bar {
		position: absolute;
		width: 100%;

		.progress {
			color: #ffffff;
			background-color: #2145e6;
			min-height: 18px;
		}
	}
}

/**
 * AWS S3 upload status styles.
 */
.attachment-s3-status {
	position: absolute;
	top: 8px; /* Adjust positioning */
	right: 8px;
	display: flex;
	align-items: center;
	z-index: 9;
	transition: transform 0.2s ease, opacity 0.3s ease;
}

.attachment-s3-status:hover::after {
	content: "Uploaded to S3";
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #333;
	color: #fff;
	padding: 5px 8px;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Add animation and hover effect */
.attachment-s3-status:hover {
	transform: scale(1.1); /* Slightly enlarges the icon on hover */
	opacity: 0.9; /* Adds slight fade effect */
}

/* Gradient and glow for Dashicon */
.attachment-s3-status .dashicons {
	font-size: 20px; /* Increase icon size */
	background: linear-gradient(45deg, #28a745, #85e085); /* Gradient effect */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #28a745; /* Fallback for browsers that don't support text gradients */
}

/* Slightly increase glow on hover */
.attachment-s3-status .dashicons:hover {
	text-shadow: 0 0 12px rgba(40, 167, 69, 0.7), 0 0 16px rgba(40, 167, 69, 1);
	transform: scale(1.2); /* Adds a slight bounce effect */
}

