#media-folder-filter {
	display: none !important;
}

/**
 * Transcoding status bar for media library styles.
 */
.attachment-preview {

	position: relative;

	.transcoder-progress-bar {
		position: absolute;
		width: 100%;

		.progress {
			color: #ffffff;
			background-color: #2145e6;
			min-height: 18px;
		}
	}
}
