.godam-minimal-skin {
	container-type: inline-size;
	container-name: godam-player-minimal-skin;

	.video-js .vjs-control-bar {
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%) !important;
	}

	.video-js .vjs-big-play-button {
		background-color: transparent !important;
		border: 3px solid #fff !important;
		box-shadow: inset 8px 6px 15px 0 #4240408f;

		span::before {
			line-height: 1.77 !important;
			font-size: 25px !important;
		}
	}
	
	.video-js .vjs-volume-control.vjs-control.vjs-volume-vertical {
		background-color: transparent !important;
	}

	.video-js [class^="vjs-skip-backward-"],
	.video-js [class^="vjs-skip-forward-"] {
		display: none;
	}

	.vjs-current-time, .vjs-time-divider, .vjs-duration {
		display: flex !important;
		padding: 0 !important;
		min-width: 1.2em;
		justify-content: center;
	}

	.video-js .vjs-menu-content {
		background-color: #fff !important;
		color: #000;
		border-radius: 4px;
		max-height: 300px;
		overflow: auto;
		
		li {
			padding: 8px;
			font-size: 14px;
		}

		.master-settings-back-icon {
			display: none;
		}

		span::before {
			font-size: 16px;
			color: #000;
		}

		.godam-back-item-container::after{
			top: 35.5px;
		}

		.master-settings-back-icon, .godam-check-icon {
			color: #000;
		}
	}

	.video-js .vjs-settings-button {
		order: 2;
	}

	.vjs-button.godam-share-button{
		background: #FFFFFF24;
		border-radius: 4px;
		width: 40px;
		height: 36px;		
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 18px;
			width: 16px;
		}
	}

	.video-js .vjs-remaining-time {
		display: none;
	}

	@container godam-player-minimal-skin (max-width: 480px) {
		
		.video-js .vjs-big-play-button {
			left: 55%;
		}

		.video-js .vjs-control-bar {
			height: 6em !important;

			.vjs-volume-control {
				display: none; //Fallback for old browser versions not supporting interaction media features
			}

			.vjs-control {
				height: 3em !important;
			}

			[class^="vjs-skip-backward-"],
			[class^="vjs-skip-forward-"] {
				display: block;
				background-color: unset !important;
				height: 40px !important;
				width: 40px;
	
				.vjs-icon-placeholder::before {
					line-height: 2;
				}
			}
	
			[class^="vjs-skip-backward-"] {
				left: 60px;
				position: absolute;
			}
	
			[class^="vjs-skip-forward-"] {
			   right: 60px;
			   position: absolute;
			   
			}

			.vjs-progress-control {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 2em !important;
			}

			.vjs-settings-button{
				right: 40px;
				bottom: 0;
				position: absolute;
				z-index: 99;
			}

			.vjs-volume-panel {
				bottom: 0;
				position: absolute;
				right: 120px;
			}

			&:has(.vjs-subs-caps-button.vjs-hidden) .vjs-volume-panel {
				right: 80px;
			}


			.vjs-subs-caps-button {
				right: 80px !important;
			}

			div.vjs-subs-caps-button {
				z-index: 99;
			}

			.vjs-play-control {
				position: absolute;
			}

			.vjs-fullscreen-control {
				position: absolute;
				bottom: 0;
				right: 0;
				height: 3em !important;
			}

			.mobile-right-80 {
				right: 80px;
			}

		}

		.video-js .vjs-control-bar>.vjs-subs-caps-button.vjs-control {
			position: absolute;
			bottom: 0;
			right: calc(3 * 40px);
			height: 3em !important;
		}

	   .vjs-duration, .vjs-current-time, .vjs-time-divider, .vjs-picture-in-picture-control, .vjs-remaining-time, .vjs-custom-play-button {
			display: none !important;
		}

		.vjs-button.godam-share-button {
			height: 24px;
			width: 24px;
			padding: 0;
		}

		.video-js .vjs-menu {
			width: 8em;
			z-index: 19;

			.vjs-menu-content {

				max-height: 120px !important;

				.godam-back-item-container::after {
					top: 24.5px;
				}

				li {
					font-size: 12px;
					padding: 4px;
				}

				.vjs-menu-item-text span {
					display: flex;
				}
			}
		}
	}
}