.godam-pills-skin {
    container-type: inline-size;
    container-name: godam-player-pills-skin;

	.vjs-control-bar {
        width: 95% !important;
        position: relative;
        border-radius: 80px;
        margin: -50px auto 0 auto;
        z-index: 999;
        background-color: var(--rtgodam-control-bar-color, #000) !important;
        bottom: unset !important;
	}

    .vjs-big-play-button {
        background-color: var(--rtgodam-control-bar-color, #000) !important;
        border-radius: 10px !important;
    }

    .vjs-volume-control.vjs-control.vjs-volume-vertical {
        background-color: transparent !important;
    }

    [class^="vjs-skip-backward-"],
    [class^="vjs-skip-forward-"] {
        display: none;
    }

    .vjs-current-time, .vjs-time-divider, .vjs-duration {
        display: flex !important;
        padding: 0 !important;
        align-items: center;
        justify-content: center;
        min-width: 1.2em;
    }

    .vjs-fullscreen-control {
        order: 4;
    }

    .vjs-subs-caps-button {
        order: 2;
    }

    .vjs-volume-panel {
        order: 1;
    }

    .vjs-settings-button {
        order: 3;
    }

    .vjs-custom-play-button img {
        height: 100%;
        width: auto;
        object-fit: fill;
        margin-right: 20px;
    }

    .vjs-menu-content {
        background-color: #fff !important;
        color: #000;
        border-radius: 4px;
        
        li {
            padding: 8px;
            font-size: 14px;
        }

        .master-settings-back-icon {
            display: none;
        }

        span::before {
            font-size: 16px;
            color: #000;
        }

        .godam-back-item-container::after{
            top: 35.5px;
        }

        .master-settings-back-icon, .godam-check-icon {
            color: #000;
        }
    }

    .vjs-button.godam-share-button{
        background: #FFFFFF24;
        border-radius: 4px;
        width: 40px;
        height: 36px;		
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 18px;
            width: 16px;
        }
    }

    .vjs-remaining-time {
        display: none;
    }

    @container godam-player-pills-skin (max-width: 580px) {

        .godam-central-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background-color: var(--rtgodam-control-bar-color, #000000AD) !important;
            border-radius: 999px;
            padding: 6px 12px;
            z-index: 20;
            width: 164px;
            height: 30px;
        }
    
        .vjs-control-bar {
            height: initial !important;
            margin: -40px auto 0;

            .vjs-duration, .vjs-current-time, .vjs-time-divider, .vjs-picture-in-picture-control, .vjs-volume-panel, .vjs-remaining-time {
                display: none !important;
            }

            .vjs-control {
				height: 3em !important;
			}

            .vjs-settings-button, div.vjs-subs-caps-button {
                z-index: 99;
            }

            .vjs-fullscreen-control, .vjs-settings-button, div.vjs-subs-caps-button {
                position: relative !important;
                right: 0 !important;
            }

            [class^="vjs-skip-backward-"] {
                left: 0;
                bottom: -6px;
            }

            [class^="vjs-skip-forward-"] {
                right: 0;
                bottom: -6px;
            }

            [class^="vjs-skip-backward-"], [class^="vjs-skip-forward-"] {
                display: block;
                background-color: unset;
                height: 40px !important;
                width: 40px;
                position: absolute;

                .vjs-icon-placeholder::before {
                    line-height: 2;
                }
            }

            .vjs-progress-control {
                height: unset !important;
                position: unset;
                margin: 0 auto;
                padding: 0 !important;
            }

            .vjs-play-control {
                bottom: -4px;
                position: absolute;

                span::before{
                    line-height: 1.3;
                }
            }

            .vjs-time-control.vjs-duration {
                right: 120px;
                transform: translateX(0%);
            }

            .vjs-time-control.vjs-current-time {
                left: 30px;
            }
            
            .vjs-time-divider, .vjs-picture-in-picture-control, .vjs-volume-panel, .vjs-control.vjs-custom-play-button {
                display: none !important;
            }

            .right-80 {
				right: 80px !important;
			}
        }


        .vjs-button.godam-share-button {
            background-color: var(--rtgodam-control-bar-color, #000000AD);
            border: 0.26px solid #FFF3;
            height: 24px;
            padding: 4px 20px;
            border-radius: 12px;
        }

        .vjs-menu {
            width: 8em;

            .vjs-menu-content {
                
                .godam-back-item-container::after {
                    top: 24.5px;
                }

                li {
                    font-size: 12px;
                    padding: 4px;
                }

                .vjs-menu-item-text span {
                    display: flex;
                }
            }
        }
    }
}