@import "@uppy/core/dist/style.min.css";
@import "@uppy/dashboard/dist/style.min.css";
@import "@uppy/webcam/dist/style.min.css";
@import "@uppy/screen-capture/dist/style.min.css";

/* Frontend styles for the video upload field. */
.wpforms-container {

    .wpforms-field.wpforms-field-godam-video {

        .uppy-video-upload-preview {
            margin-top: 20px;
            max-width: 100%;
        }

        .upp-video-upload-filename {
            margin-top: 5px;
            font-style: italic;
            color: #666;
        }

        /* Style the video upload button similar to the submit button. */
        .uppy-video-upload-button {
            background-color: var(--wpforms-button-background-color-alt, var(--wpforms-button-background-color));
            color: var(--wpforms-button-text-color);
            height: var(--wpforms-button-size-height);
            border-radius: var(--wpforms-button-border-radius);
            border-style: var(--wpforms-button-border-style);
            border-color: var(--wpforms-button-border-color);
            border-width: var(--wpforms-button-border-size);
            box-shadow: none;
            color: var(--wpforms-button-text-color);
            padding: 0 var(--wpforms-button-size-padding-h);
            font-family: inherit;
            font-weight: 500;
            font-size: var(--wpforms-button-size-font-size);
            line-height: 100%;
            cursor: pointer;
            position: relative;
            text-decoration: none;
        }
    }
}

/** Style the field in the field preview **/
.wpforms_page_wpforms-builder {
    .wpforms-field-godam-video {
        .uppy-video-upload-button {
            display: flex;
            align-items: center;
            padding: 10px 15px;
        }
    }
}

/** Style the field in the entry edit page **/
.wpforms-admin-page.wpforms_page_wpforms-entries {
    .wpforms-edit-entry-container.wpforms-container {
        .wpforms-field-godam-video {
            display: flex;
            flex-direction: column;

            .godam-video-preview {
                figure {
                    margin: 0px;
                }
            }

            .godam-video-media-controls {
                display: flex;
                flex-direction: row;

                .godam-video-upload-image {
                    margin-right: 8px;
                }

                .godam-video-remove-image {
                    color: #d63638
                }
            }

            .godam-video-name {
                margin-top: 8px;
                margin-bottom: 8px;
            }
        }
    }
}
