@import "@uppy/core/css/style.min.css";
@import "@uppy/dashboard/css/style.min.css";
@import "@uppy/webcam/css/style.min.css";
@import "@uppy/screen-capture/css/style.min.css";
@import "@uppy/audio/css/style.min.css";

/** Style the field in the field preview **/
.wpforms_page_wpforms-builder {

    .wpforms-field-godam_record {

        .uppy-video-upload-button {
            display: flex;
            align-items: center;
            padding: 10px 15px;
        }
    }
}

/* Frontend styles for the video upload field. */
.wpforms-container {

    .wpforms-field.wpforms-field-godam_record {

        .uppy-video-upload-preview {
            margin-top: 20px;
            max-width: 100%;

            audio {
                max-width: 400px;
                width: 100%;
                height: 40px;
                margin: 10px 0;
            }
        }

        .upp-video-upload-filename {
            margin-top: 5px;
            font-style: italic;
            color: #666;
        }

        /* Style the video upload button similar to the submit button. */
        .uppy-video-upload-button {
            background-color: var(--wpforms-button-background-color-alt, var(--wpforms-button-background-color));
            height: var(--wpforms-button-size-height);
            border-radius: var(--wpforms-button-border-radius);
            border-style: var(--wpforms-button-border-style);
            border-color: var(--wpforms-button-border-color);
            border-width: var(--wpforms-button-border-size);
            box-shadow: none;
            color: var(--wpforms-button-text-color);
            padding: 0 var(--wpforms-button-size-padding-h);
            font-family: inherit;
            font-weight: 500;
            font-size: var(--wpforms-button-size-font-size);
            line-height: 1rem;
            cursor: pointer;
            position: relative;
            text-decoration: none;
        }
    }
}

/** Style the field in the entry view page **/
.wpforms_page_wpforms-entries {

    .wpforms-entries-fields-wrapper {

        .wpforms-field-godam_record {

            .godam-video-preview {

                figure {
                    margin: 0;
                }

                audio {
                    width: 100%;
                    max-width: 400px;
                    margin-top: 10px;
                }
            }

            .godam-video-name {
                margin-top: 8px;
            }

            .godam-video-link-wrapper, .godam-transcoded-url-info {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                column-gap: 12px;
            }

            .godam-transcoded-url-info {
                align-items: center;
                column-gap: 12px;
                margin-top: 8px;
            }
        }
    }

    .wpforms-edit-entry-container.wpforms-container {

        .wpforms-field-godam_record {
            display: flex;
            flex-direction: column;

            .godam-video-preview {

                figure {
                    margin: 0;
                }

                audio {
                    width: 100%;
                    max-width: 400px;
                    margin-top: 10px;
                }
            }

            .godam-video-media-controls {
                display: flex;
                flex-direction: row;
                margin-top: 8px;

                .godam-video-upload-btn {
                    margin-right: 8px;
                }

                .godam-video-remove-btn {
                    color: #d63638
                }
            }

            .godam-video-name {
                margin-top: 8px;
            }
        }
    }
}
