.analytics-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem;
	
	.analytics-single-info {
		display: flex;
		border-radius: 12px;
		padding: 25px;
		flex-direction: column;
		background-color: #fff;
		min-width: 300px;

		.analytics-stats {
			display: flex;
			align-items: center;
			gap: 8px;
			margin-top: auto;
		}
	}

	.analytics-info-heading {
		font-size: 16px;
		display: flex;
		align-items: center;
		font-weight: 500;
		gap: 5px;

		p {
			font-weight: 400;
			font-size: 18px;
		}
}}

.api-key-message a {
	color: #3b82f6;
	text-decoration: none;
	font-weight: 600;
}

.top-media-container {

	table th, td {
		border-bottom:1px solid #00f;
		text-align: center;
		padding-bottom: 0.5rem;
	}

	table th {
		font-size: 1rem;
	}

	table td {
		padding: 1.5rem;
	}

	table a {
		color: #00f;
	}
}


#tooltip-container {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#tooltip-container .tooltip-text {
	position: absolute;
	top: 100%;
    left: -95%;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	padding: 8px;
	border-radius: 5px;
	min-width: 110px;
	width: max-content;
	max-width: 200px;
	z-index: 100;
	pointer-events: none;
	font-size: 12px;
	line-height: 1.2;
	opacity: 0;
	transition: opacity 0.2s ease, visibility 0.2s ease;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* Tooltip styling */
.tooltip {
	position: absolute;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 12px;
	pointer-events: none; /* Prevents interfering with mouse events */
	opacity: 0; /* Initially hidden */
	transition: opacity 0.2s ease-in-out;
}

.blurred {
	filter: blur(5px);
	pointer-events: none;
}

.api-key-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	z-index: 99;
}

.api-key-message {
	background: #fff;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.api-key-message a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

#root-video-dashboard {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: calc( 100vh - var(--wp-admin--admin-bar--height, 0) );
	margin-left: 160px;
	padding-top: var(--wp-admin--admin-bar--height, 0);
	overflow: auto;
	color: #000;
}


.playback-country-container {
	display: flex;
	gap: 20px;

	.playback-performace {
		flex: 1;
	}

	.country-views {
		width: 30%;
		display: flex;
		flex-direction: column;
		gap: 20px;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 8px;
		overflow: hidden;
		padding: 20px;

		.country-views-map {
			width: 100%;
		}

		.country-views-table {
			width: 100%;
			max-height: 200px;
			overflow-y: auto;
			padding-right: 4px;

			scrollbar-width: thin;
			scrollbar-color: #AB3A6C #f0f0f0;

			&::-webkit-scrollbar {
				width: 4px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #AB3A6C;
				border-radius: 3px;
			}

			&::-webkit-scrollbar-track {
				background-color: #f0f0f0;
				border-radius: 3px;
			}
		}
	}
}