.wp-block-godam-pdf {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;
	// Supply caption styles to PDF blocks, even if the theme hasn't opted in.
	// Reason being: the new markup, <figcaptions>, are not likely to be styled in the majority of existing themes,
	// so we supply the styles so as to not appear broken or unstyled in those themes.
	
	figcaption {
		margin-top: 0.5em;
		color: #555d66;
		text-align: center;
		font-size: 13px;
	}

	.godam-pdf-wrapper {
		width: 100%;
		min-height: 300px;
		border: 1px solid #ddd;
		border-radius: 4px;
		overflow: hidden;
		background: #f5f5f5;

		object,
		iframe {
			display: block;
		}
	}
}


