name: Publish Plugin to WordPress.org
on:
  push:
    tags:
      - '*'
    branches:
      - develop

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies & build assets
        shell: bash
        run: |
          composer install --no-dev --optimize-autoloader
          npm install
          npm run build:prod

      - name: WordPress Plugin Deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-deploy@2.3.0
        with:
          generate-zip: 'true'
          dry-run: ${{ startsWith(github.ref, 'refs/tags/dry') || github.ref == 'refs/heads/develop' }}
        env:
          SLUG: 'godam'
          ASSETS_DIR: 'wp-assets'
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          VERSION: '${{ github.ref_name }}'

      - name: Upload Test Artifact
        if: startsWith(github.ref, 'refs/tags/dry') || github.ref == 'refs/heads/develop'
        uses: actions/upload-artifact@v4.6.1
        with:
          name: godam
          path: '${{ steps.deploy.outputs.zip-path }}'
<<<<<<< HEAD
          compression-level: 0
=======
>>>>>>> c0afdeeb (ci(release): update workflow to include develop branch for dry-run (#679))

      - name: Upload Release Artifact
        if: startsWith(github.ref, 'refs/tags/dry') == false && github.ref != 'refs/heads/develop'
        uses: softprops/action-gh-release@v2.2.1
        with:
          files: |
            ${{ steps.deploy.outputs.zip-path }}
          token: '${{ github.token }}'
          tag_name: ${{ github.ref_name }}
          draft: true
